extends content

block variables
  - var classname = "attract"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://attract.ai") Attract.ai
  
block description
  p Attract.ai offers a talent-management platform and service to help teams engage new talent and upgrade their hiring process. I designed the Attract.ai brand, website, and early-stage platform.
  
block figure
  figure.image-gallery
    img(src="/img/attract-01.webp" alt="Attract.ai landing page")
    img.cards(src="/img/attract-pipeline.webp" alt="Attract.ai app")
  
