extends content

block variables
  - var classname = "attract"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://attract.ai") Attract.ai
  
block description
  p Attract.ai offers a talent-management platform and service to help teams engage new talent and upgrade their hiring process. I designed the Attract.ai brand, website, and early-stage platform.
  
block figure
  figure.image-gallery
    img(srcset="/img/attract-01.jpg 1x, /img/attract-01@2x.jpg 2x" src="/img/attract-01@2x.jpg" alt="Attract.ai landing page")
    img.cards(srcset="/img/attract-pipeline.png 1x, /img/attract-pipeline@2x.png 2x" src="/img/attract-pipeline@2x.png" alt="Attract.ai app")
  
