extends content

block variables
  - var classname = "attract"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://attract.ai") Attract.ai
  
block description
  p Attract.ai offers a platform to help teams engage and talent and upgrade their hiring process.
  p
    | I 
    strong designed
    |  the Attract.ai brand and 
    strong developed
    |  the website, while consulting on their early-stage platform.
  
block figure
  figure.image-gallery
    img(srcset="/img/attract-01.jpg 1x, /img/attract-01@2x.jpg 2x" src="/img/attract-01@2x.jpg" alt="Attract.ai landing page")
    img.cards(srcset="/img/attract-pipeline.png 1x, /img/attract-pipeline@2x.png 2x" src="/img/attract-pipeline@2x.png" alt="Attract.ai app")
  
