extends content

block variables
  - var classname = "attract"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://attract.ai") Attract.ai
  
block description
  p
    a(href="https://attract.ai") Attract.ai
    |  is a startup developing a service/platform to help teams engage and retain talent.
  p
    | I 
    strong designed
    |  the Attract.ai brand and 
    strong developed
    |  their initial landing page and reports, while consulting on their early-stage platform.
  hr
  a.button-white(href="https://attract.ai") https://attract.ai &rarr; 

block figure
  figure.image-gallery
    img(srcset="/img/attract-01.jpg 1x, /img/attract-01@2x.jpg 2x" alt="Attract.ai landing page")
    img(srcset="/img/attract-02.jpg 1x, /img/attract-02@2x.jpg 2x" alt="Attract.ai landing page content")
