extends content

block variables
  - var classname = "broadbeach-slsc"

block header
  h1
    a#broadbeach-slsc(href="#broadbeach-slsc") Broadbeach SLSC

block description
  p 
    | Sixth semester 
    strong architectural design
    |  project. 
    | This project involved investigation and documentation of an existing surf club, followed by a design proposal for a new club.
  p
    | The objectives of this design were to create distinction between public functions and club functions, as well as create a more effective flow of circulation for both visitors and members. I also had the opportunity to focus more on construction and detailing of the building. 
  p.grey-text Modelled and rendered in Revit, technical drawings produced in AutoCAD
  p.grey-text Late 2012

block figure
  figure.image-gallery
    img(srcset="/img/broadbeach-slsc-01.jpg 1x, /img/broadbeach-slsc-01@2x.jpg 2x" alt="Broadbeach SLSC exterior")
    img(srcset="/img/broadbeach-slsc-02.jpg 1x, /img/broadbeach-slsc-02@2x.jpg 2x" alt="Broadbeach SLSC interior")
    img(srcset="/img/broadbeach-slsc-03.png 1x, /img/broadbeach-slsc-03@2x.png 2x" alt="Broadbeach SLSC plans")
