extends content

block variables
  - var classname = "no-border component-library"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://www.figma.com/community/file/1126654475671329438") Figma Icon Library

block description
  p Over 550 icons with 2 size variants and alternative icon names for easy searching. Designed with low density displays in mind for sharp rendering.
  span.tag Archived project from 2022
  hr
  a.button(href="https://www.figma.com/community/file/1126654475671329438") Open in Figma
    span.rarr

block figure
  figure
    img.component-library(src="/img/component-library.webp" alt="A screenshot of a dialog in Figma showing a list of variables used as design tokens")
    video(autoplay, loop, muted, playsinline).iphone-frame.component-library-mobile
      source(src="/img/component-library-demo.mp4", type="video/mp4")
