extends content

block variables
  - var classname = "dede"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="/dede") Double exposure depth experiment
  
block description
  p
    | A 
    strong web experiment 
    | combining CSS and Javascript with photography; exploring tangible methods of interacting with digital photos.
  hr
  a.button-black(href="/dede") View experiment
    span.rarr
