extends content

block variables
  - var classname = "dede"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="/dede") Double exposure depth experiment
  
block description
  p
    | A 
    strong web experiment 
    | combining some new CSS properties and JS events with photography.
    | More info can be found 
    a(href="/dede/why") here
    | .
  hr
  a.button-black(href="/dede") View experiment &rarr; 
