extends content

block variables
  - var classname = "divvy"
  - var smallpanel = false

block header
  h1.white-text
    a(id="#{classname}", href="http://divvy.lol", target="blank") Divvy

block description
  p.white-text
    | Divvy is a 
    strong web app 
    | that will evenly split bills between friends.
    | Add the expenses for each person and Divvy will find the most efficient sequence of repayments.
  p.white-text.translucent Mid 2016
  hr.white-line
  a.button-white(href="http://divvy.lol", target="blank") http://divvy.lol &rarr;

block figure
  figure
    img(srcset="/img/divvy.png 1x, /img/divvy@2x.png 2x" alt="Divvy web app")
