extends content

block variables
  - var classname = "divvy"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://divvy.lol") Divvy

block description
  p
    | Divvy is a 
    strong web app 
    | designed to easily split bills between friends.
    | Add the expenses for each person and Divvy will find the most efficient sequence of repayments.
  hr.black-line
  a.button-white(href="https://divvy.lol") https://divvy.lol&nbsp;&rarr;

block figure
  figure
    img(srcset="/img/divvy.png 1x, /img/divvy@2x.png 2x" src="/img/divvy@2x.png" alt="Divvy web app")
    .divvy-recording
      .notch
      video(autoplay, loop, muted, playsinline)
        source(src="/img/divvy.mp4", type="video/mp4")
