extends content

block variables
  - var classname = "no-border divvy"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://divvy.lol") Divvy

block description
  p I designed and developed the Divvy web app to simplify splitting expenses between friends — without the need to sign up for a service or set up accounts.
  p Add the expenses for each person and Divvy will calculate the most efficient sequence of repayments.
  hr
  a.button(href="https://divvy.lol") Try Divvy
    span.rarr

block figure
  figure
    img(src="/img/divvy.webp" alt="Divvy web app")
    .divvy-recording.iphone-frame
      video(autoplay, loop, muted, playsinline)
        source(src="/img/divvy.mp4", type="video/mp4")
