extends content

block variables
  - var classname = "icons"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://www.figma.com/community/file/1126654475671329438") Very Usable Icon Library

block description
  p The Very Usable Icon Library is a free to use component library for Figma with over 550 icons. Some features of this library are:
  ul
    li Tagged/alternative icon names for easy searching
    li Categorised groups for browsing
    li Flattened, uniform layers so colour overrides are preserved when switching icon instances
    li 2 size variants (18px and 12px) but also scalable
    li Sharp rendering on low res displays
    li Optically balanced (to an extent) to create more uniform weight

  hr.black-line
  a.button(href="https://www.figma.com/community/file/1126654475671329438") Open in Figma
    span.rarr

block figure
  figure
