extends content

block variables
  - var classname = "icons"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://www.figma.com/community/file/1126654475671329438") Vu Icons

block description
  p The Vu (Very Usable) Icon Library is a free to use component library for Figma with over 550 icons. Some features of this library are:
  ul
    li Alternative names for easy searching
    li Designed at 2 sizes (18px and 12px) but also scalable
    li Renders sharply on low res displays
    li Optically balanced (to an extent) to create more uniform weight
  hr.black-line
  a.button(href="https://www.figma.com/community/file/1126654475671329438") Open in Figma
    span.rarr

block figure
  figure
