figure.half-tiles
  .video-wrapper
    iframe(src="https://www.youtube.com/embed/hMVMPdKNMrM?&autohide=1&autoplay=0&color=white&loop=1&rel=0&showinfo=0&theme=light&vq=hd720")
  img(srcset="/ios86/ios86-03.jpg 1x, /ios86/ios86-03@2x.jpg 2x" src="/ios86/ios86-03@2x.jpg" alt="iOS'86 lock screen")
  img(srcset="/ios86/ios86-02.jpg 1x, /ios86/ios86-02@2x.jpg 2x" src="/ios86/ios86-02@2x.jpg" alt="iOS'86 dialer")

hr

h2 Installation
p
  mark Only available on iOS 4, 5, and 6.
ol
  li
    a(href="cydia://package/com.modmyi.ios86") Install iOS'86 through Cydia
    , and enable the theme in Winterboard.
  li Use BytaFont to change all fonts to Chicago "(iOS'86)".
  li Access ThemeReady via Settings and convert unthemed icons, then respring your device.
p Your iOS'86 wallpapers have been added to the wallpaper roll in Settings. Be sure to read over the supported apps and tweaks to fully utilise iOS'86.
a.button.button-white(href="/ios86/ios86-wallpaper-pack.zip") Download wallpaper pack
a.button.button-white(href="/ios86/ios86-icon-template.zip") Download icon template

figure.half-tiles
  img(srcset="/ios86/ios86-messages.png 1x, /ios86/ios86-messages@2x.png 2x" src="/ios86/ios86-messages@2x.png" alt="iOS'86 messages and keyboard")
  img(srcset="/ios86/ios86-settings.png 1x, /ios86/ios86-settings@2x.png 2x" src="/ios86/ios86-settings@2x.png" alt="iOS'86 settings and app switcher")
  img(srcset="/ios86/ios86-voicemail.png 1x, /ios86/ios86-voicemail@2x.png 2x" src="/ios86/ios86-voicemail@2x.png" alt="iOS'86 voicemail")
  img(srcset="/ios86/ios86-nc.png 1x, /ios86/ios86-nc@2x.png 2x" src="/ios86/ios86-nc@2x.png" alt="iOS'86 notification center")

hr

h2 Supported apps/tweaks
table
  tr
    td Auxo
    td UI and toggle icons for Auxo app switcher.
  tr
    td biteSMS
    td UI and quick compose theme for biteSMS. Enable through biteSMS settings.
  tr
    td ColorKeyboard
    td Keyboard theme with portrait and landscape orientation. QWERTY and AZERTY layouts supported. International layout option. Enable through ColorKeyboard settings.
  tr
    td NCSettings
    td Toggle theme for notification centre. Enable via Settings.
  tr
    td Snowcover Simple
    td Themes the album display on your lockscreen. 4th gen devices - use alt graphics in com.apple.springboard
  tr
    td Zeppelin
    td A themed icon as the carrier in the status bar. Enable via Settings.

hr

h2 Icon list
ul.column-list
  li Abstergo
  li Activator
  li Age of Pinball
  li Age of Zombies
  li Alien Blue
  li Amazon
  li AnyDO
  li ANZ GoMoney
  li AppInfo
  li App Store
  li Auxo
  li BatteryDoctor Pro
  li Bejeweled Blitz
  li biteSMS
  li Blizzard Authenticator
  li BytaFont
  li Calculator
  li Calendar
  li Camera
  li Camera Torch
  li Camera+
  li Chrome
  li Clock
  li Clock Hide
  li CommBank
  li Compass
  li Consume
  li Contacts
  li Contre Jour
  li Conversions
  li Cool Shoes
  li CNN
  li Craigslist
  li Cydia
  li Display Recorder
  li Dropbox
  li eBay
  li Evi
  li Facebook
  li Facebook Messenger
  li FaceTime
  li Find my Friends
  li Find my iPhone
  li Fish Out of Water
  li Flight Control
  li Flipboard
  li f.lux
  li Fruit Ninja
  li Game Center
  li GBA.emu
  li Gmail
  li Google+
  li Google Maps
  li Google Voice
  li Gridlee
  li iBooks
  li iFile
  li iHandy Level
  li iMaschine
  li IMDb
  li Infinity Blade
  li Instagram
  li iTunes
  li Jetpack Joyride
  li Karate Girl
  li Mail
  li Mailbox
  li Maps
  li Messages
  li Monster Dash
  li Music
  li Musicbox
  li MyMedia
  li MyWallet+
  li Navigon
  li Netflix
  li Notes
  li 1Password Pro
  li Opener
  li Pandora
  li Passbook
  li Penny Time
  li Phone
  li Photos
  li Plants vs Zombies
  li Plants vs Zombies 2
  li Podcasts
  li Ponon! Deluxe
  li QBism
  li QR Reader
  li Safari
  li Sarif
  li Scribblenauts
  li Settings
  li Skype
  li Slingshot Racing
  li Smash to Bits
  li Solar
  li Sparrow
  li Splitwise
  li Spotify
  li Springtomize 2
  li Stay Alive
  li Steam
  li Stocks
  li Super Stickman Golf
  li Sword & Sworcery
  li TalkBass
  li ThemeIt
  li Tiny Wings
  li Tone Pad
  li Touch Hockey
  li Track-8
  li Tweetbot
  li Twitter
  li Twitterific
  li Tumblr
  li Velox
  li Viber
  li Videos
  li Virtual Table Tennis
  li Voice Memos
  li Weather
  li Wells Fargo
  li What's App
  li WiFiFoFum
  li Wikipedia
  li Winterboard
  li Yahoo! Weather
  li YouTube

figure.half-tiles
  img(srcset="/ios86/ios86-home.png 1x, /ios86/ios86-home@2x.png 2x" src="/ios86/ios86-home@2x.png" alt="iOS'86 home screen")
  img(srcset="/ios86/ios86-calculator.png 1x, /ios86/ios86-calculator@2x.png 2x" src="/ios86/ios86-calculator@2x.png" alt="iOS'86 calculator")

hr

h2 Changelog
h3 Version 1.3
ul
  li Added new icons.
  li Added calculator theme.
  li Added weather condition icons for notification center.
  li Added international CK layout.
  li Added a new wallpaper.
  li Removed redundant localization strings.
  li Removed redundant fonts.
  li Removed install instructions bundle.
  li Removed BytaFont dependency.
  li Fixed CK black keypad issue.
  li Fixed missing font problems with older devices.
  li Fixed biteSMS nav bar issues.
h3 Version 1.2.3
ul
  li Added new icons.
  li Added Auxo toggles.
  li Added new wallpaper.
  li Added new default load screens.
  li Added status bar tint overlay.
  li Added notifications pulldown.
  li Added white mask around dock.
  li Added missing keyboard popups.
  li Added support for Snowcover Simple.
  li Remade ColorKeyboard theme, added new layouts.
  li Removed carrier bundle.
  li Removed AntiTint dependency.
  li Fixed iOS5 lockscreen camera button.
  li Fixed missing tab icon in Safari.
  li Fixed world clock backs.
  li Fixed Auxo pause button.
  li Several other small changes.
h3 Version 1.2.2
ul
  li Added new icons.
  li Added full biteSMS theme.
  li Added Auxo theme.
  li Added music player and iPod UI theme.
  li Added share widget theme.
  li Added keyboard magnifiers.
  li Added more UI images, refresh controls, glyphs and buttons.
  li Added more preference bundle icons.
  li Re-ported Chicago font (clearer text and better scaling).
  li Reduced font size of app names.
  li Simplified wallpaper library.
  li Fixed some file extensions causing problems.
  li Fixed Nike icon in settings.
  li Fixed YouTube icon.
  li Fixed 4G status bar icon.
h3 Version 1.2.1
ul
  li Added new icons.
  li Fixed LTE status icon not theming.
  li Fixed mislabelled default load screens for clock app.
  li Fixed button problems on 3rd gen iOS 5 dialler.
  li Fixed wallpapers being stretched when applied through Settings.
  li Fixed problems with switcher slider tracks.
  li Fixed tableview pinstripe.
  li Fixed alert sheet background.
  li Fixed switches being stretched.
  li Added more localized strings.
  li Added bulletin list button and system icon.
  li Added switch colour mask.
  li Added auto correct and callout UI.
  li Added wallpaper preview overlays.
h3 Version 1.2
ul
  li Support for 3rd generation devices.
  li Support for iOS 6.
  li Support for iPhone 5.
  li Added new icons.
  li Added Zeppelin theme.
  li Added NCSettings theme.
  li Added installation instructions theme.
  li Added notification centre theme.
  li Added new default load screens.
  li Added photo library video UI.
  li Added shuffle button to iPod UI.
  li Added switcher AirPlay buttons.
  li Moved native icons to bundle.
  li Fixed missing font problems.
  li Fixed missing UI LCD.
  li Fixed screen dim on popup.
  li iMessage bubble is now distinguished from regular bubble.
  li Installation now has a dependency on BytaFont and AntiTint.
h3 Version 1.1
ul
  li Now integrated with ThemeReady using automatic icon conversion.
  li Added new icons.
  li Added ColorKeyboard theme.
  li Added failed password LCD.
  li Added wireless modem LCD.
  li Added more carrier bundles.
  li Added default notes font to prevent errors.
  li Wallpapers are now added to the system roll.
h3 Version 1.0-2
ul
  li Fixed font not installing.
h3 Version 1.0-1
ul
  li Better 5.0.x support.
  li Updated strings and added full language support.
  li Added carrier bundle with new blank carrier icons.
  li Fixed NC mail icon.
  li Added FaceTime icon.
h3 Version 1.0
ul
  li Initial release (July 2012).
