extends content

block variables
  - var classname = "miso-tracker"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://misotracker.com") Miso Tracker

block description
  p A collection of custom trackers for Magic:&nbsp;The&nbsp;Gathering. Built for specific Pauper decks to streamline keeping track of life totals, storm count, mana etc.
  hr
  a.button(href="https://misotracker.com") Try Miso Tracker
    span.rarr

block figure
  figure
    div.miso-tracker-demo-vid
      video(autoplay, loop, muted, playsinline)
        source(src="/img/miso-tracker-demo.mp4", type="video/mp4")
    div.miso-tracker-demo-img
      img(src="/img/miso-tracker-screen.webp" alt="An interface featuring several counters for keeping track of life totals, mana counts, poison etc")
