extends content

block variables
  - var classname = "photo-collection-01"
  - var smallpanel = false
  - var photopanel = false
  
block description
  p
    | I post hobby photography taken with my Fuji x100s.
    | Check out my Instagram.
  a.button(href="//instagram.com/clg_aus", target="_blank") @clg_aus on Instagram &rarr;
  hr
  p
    | I also made a simple photo browser that responds to the viewport width and height ratio.
  a.button(href="/photo") &#128247; Browse photos

block figure
  figure.image-gallery.image-gallery-small
    img(srcset="/img/photo-vietnamese-girl.jpg 1x, /img/photo-vietnamese-girl@2x.jpg 2x" alt="Vietnamese girl")
    img(srcset="/img/photo-jeremy-neale.jpg 1x, /img/photo-jeremy-neale@2x.jpg 2x" alt="Jeremy Neale")
    img(srcset="/img/photo-bromo.jpg 1x, /img/photo-bromo@2x.jpg 2x" alt="Mount Bromo")
    img(srcset="/img/photo-ijen.jpg 1x, /img/photo-ijen@2x.jpg 2x" alt="Ijen suplhur miner")
    img(srcset="/img/photo-bullhorn.jpg 1x, /img/photo-bullhorn@2x.jpg 2x" alt="Bullhorn")
    img(srcset="/img/photo-jakarta.jpg 1x, /img/photo-jakarta@2x.jpg 2x" alt="Jakarta bank")
