extends content

block variables
  - var classname = "photo-collection-01"
  - var smallpanel = false
  - var photopanel = false
  
block description
  p
    | Sometimes I post amateur photography taken with my Fuji x100s.
    | Check out my Instagram.
  hr
  a.button(href="//instagram.com/clg_aus", target="_blank") @clg_aus on Instagram &rarr;

block figure
  figure.image-gallery.image-gallery-small
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/13732371_245329185852674_1409059491_n.jpg" alt="Vietnamese girl")
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/14733219_1314611128558432_8273354536886730752_n.jpg" alt="Brisbane")
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/14156319_352879445100005_1463846175_n.jpg" alt="Beneb")
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/13557238_1077633252304924_1641412827_n.jpg" alt="Breakdancer")
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/13704211_150426652050740_191452556_n.jpg" alt="Hai van pass")
    img(src="https://instagram.fbne2-1.fna.fbcdn.net/t51.2885-15/e35/14052482_159826524457727_1654424598_n.jpg" alt="Bullhorn")
