extends content

block variables
  - var classname = "photo-browser"
  - var smallpanel = false
  
block header
  h1
    a(id="#{classname}", href="/photo") Photo browser

block description
  p A demo of a simple CSS-only photo browser that responds to the viewport width and height ratio.
  hr
  a.button(href="/photo") &#128247; Browse photos
