extends content

block variables
  - var classname = "photo-browser"
  - var smallpanel = false
  
block header
  h1
    a(id="#{classname}", href="/photo") Photo browser

block description
  p I built a simple photo browser that responds to the viewport width and height ratio.
  hr
  .btn-wrapper
    a.button(href="/photo") &#128247; Browse photos
    a.button(href="https://instagram.com/clg_aus", target="_blank") @clg_aus on Instagram &rarr;
