extends content

block variables
  - var classname = "post-blend-modes"
  - var smallpanel = true

block header
  span.tag Article
  h1
    a(id="#{classname}", href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694") Contrast logos & text with background photos using CSS blend modes

block description
  p Outlining a practical use of CSS blend modes.
  .image-gallery
    a(href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694")
      img(src="/img/post-blend-modes.webp" alt="Blend mode examples")
