extends content

block variables
  - var classname = "post-blend-modes"
  - var smallpanel = true

block header
  h1
    a(href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694", target="_blank") Contrast logos & text with background photos using CSS blend modes

block description
  .image-gallery
    img(srcset="/img/post-blend-modes.jpg 1x, /img/post-blend-modes@2x.jpg 2x" alt="Blend mode examples")
  p
    a.button(href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694", target="_blank") Read blog post &rarr;
