extends content

block variables
  - var classname = "post-dotted-border"
  - var smallpanel = true

block header
  h1
    a(id="#{classname}", href="https://medium.com/@clg_/using-linear-gradients-to-create-custom-dotted-border-spacing-78e8ddf9bfd9") Using linear gradients to create custom dotted border spacing

block description
  hr.black-line
  p
    a.button(href="https://medium.com/@clg_/using-linear-gradients-to-create-custom-dotted-border-spacing-78e8ddf9bfd9") Read blog post&nbsp;&rarr;
