extends content

block append variables
  - var classname = "post-svg-spinner"
  - var smallpanel = true

block header
  h1.white-text
    a(href="//medium.com/@clg_/animated-svg-spinner-8dff32d310fc", target="_blank") Creating an animated SVG spinner

block description
  p.white-text SVG and CSS were meant to be ♥ 
  p
    a.button(href="//medium.com/@clg_/animated-svg-spinner-8dff32d310fc", target="_blank") Read blog post &rarr;
