extends content

block variables
  - var classname = "post-blend-modes"
  - var smallpanel = true

block header
  h1
    a(href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694", target="_blank") Contrast logos & text with background photos using CSS blend modes

block description
  img(src="https://cdn-images-1.medium.com/max/2000/1*AOayRTzCtlvmA_2VL_300A@2x.jpeg")
  p
    a.button(href="https://medium.com/@clg/contrast-logos-text-with-background-photos-using-css-blend-modes-fb4e209f4694", target="_blank") Read blog post &rarr;
