extends content

block append variables
  - var classname = "post-winterboard-icons"
  - var smallpanel = true

block header
  h1
    a(href="//medium.com/@clg_/custom-ios-icons-winterboard-and-you-d983453959d7", target="_blank") Custom iOS icons, Winterboard, and you

block description
  p Learn the details of using custom icons with Winterboard.
  p
    a.button(href="//medium.com/@clg_/custom-ios-icons-winterboard-and-you-d983453959d7", target="_blank") Read blog post &rarr;
