extends content

block variables
  - var classname = "post-list-overflow"
  - var smallpanel = true

block header
  span.tag From the blog
  h1
    a(id="#{classname}", href="https://medium.com/@clg/ui-tip-list-overflow-and-x-others-36453b5081f9") UI Tip: list overflow and ‘+&nbsp;others’

block description
  p A problem of 
    i just a little
    |  too much bread.
  .image-gallery
    a(href="https://medium.com/@clg/ui-tip-list-overflow-and-x-others-36453b5081f9")
      img(src="/img/post-list-overflow.webp" alt="Various bread emojis")
