extends content

block variables
  - var classname = "post-process-engine"
  - var smallpanel = true

block header
  span.tag Case study
  h1
    a(id="#{classname}", href="https://medium.com/@clg/designing-a-configurable-process-engine-5c05214d458f") Designing a Configurable Process Engine

block description
  p A workflow tool supporting users to efficiently configure, manage, and progress their day-to-day tasks.
  .image-gallery
    a(href="https://medium.com/@clg/designing-a-configurable-process-engine-5c05214d458f")
      img(src="/img/post-process-engine.webp" alt="A UI showing a checklist of tasks")
