extends content

block variables
  - var classname = "post-interview"
  - var smallpanel = true

block header
  span.tag Interview
  h1
    a(id="#{classname}", href="https://medium.com/meet-the-ux-designers-at-brisbane/meet-cody-ux-lead-at-rexlabs-b53aac56825") Interview with Chelsea Tang

block description
  //- p SVG and CSS were meant to be ♥ 
  .image-gallery
    a(href="https://medium.com/meet-the-ux-designers-at-brisbane/meet-cody-ux-lead-at-rexlabs-b53aac56825")
      img(src="/img/post-interview.webp" alt="AI-generated portrait of Van Gogh using a laptop")
