extends content

block variables
  - var classname = "post-ux-breakdown"
  - var smallpanel = true

block header
  span.tag From the blog
  h1
    a(id="#{classname}", href="https://medium.com/@clg/ux-design-breakdown-household-bill-management-6ac82c4a5ebf") UX design breakdown: Household bill management

block description
  p This post outlines my design process during a 4-hour UX design exercise.
  .image-gallery
    a(href="https://medium.com/@clg/ux-design-breakdown-household-bill-management-6ac82c4a5ebf")
      img(src="/img/post-ux-breakdown.webp" alt="UX breakdown")
