extends content

block variables
  - var classname = "post-global-search"
  - var smallpanel = true

block header
  span.tag Case study
  h1
    a(id="#{classname}", href="https://medium.com/@clg/redesigning-our-search-experience-97f253cffb22") Designing a Modern Search Experience

block description
  p A case study on the Global Search project at Rex and how we rebuilt our search to solve for our user's biggest pain points and elevate our app experience.
  .image-gallery
    a(href="https://medium.com/@clg/redesigning-our-search-experience-97f253cffb22", tabindex="-1")
      img(src="/img/post-global-search.webp" alt="A screenshot of an application showing a search experience and several results including contacts and properties.")
