extends content

block append variables
  - var classname = "post-dotted-border"
  - var smallpanel = true

block header
  h1.white-text
    a(href="//medium.com/@clg_/using-linear-gradients-to-create-custom-dotted-border-spacing-78e8ddf9bfd9", target="_blank") Using linear gradients to create custom dotted border spacing

block description
  p
    a.button(href="//medium.com/@clg_/using-linear-gradients-to-create-custom-dotted-border-spacing-78e8ddf9bfd9", target="_blank") Read blog post &rarr;
