extends content

block variables
  - var classname = "post-cf-rules"
  - var smallpanel = true

block header
  span.tag Case study
  h1
    a(id="#{classname}", href="https://medium.com/@clg/89520c92ef31") Rules Unification: Wrangling Cloudflare’s Rules Ecosystem

block description
  p Solving fragmentation in Cloudflare's Rules products and increasing adoption by 2.4× to ~220k monthly active users.
  .image-gallery
    a(href="https://medium.com/@clg/89520c92ef31", tabindex="-1")
      img(src="/img/post-cf-rules.webp" alt="Two of them - two little grey cats sitting down next to a lava lamp and the Cloudflare logo")
