extends content

block append variables
  - var classname = "post-porting-fonts"
  - var smallpanel = true
  
block header
  h1
    a(href="//medium.com/@clg_/tutorial-porting-fonts-to-the-iphone-d5e511cc63a9", target="_blank") Tutorial: Porting fonts to the iPhone

block description
  p Ever wanted to port your favourite font so that you can use it on your iPhone?
  p
    a.button(href="//medium.com/@clg_/tutorial-porting-fonts-to-the-iphone-d5e511cc63a9", target="_blank") Read blog post &rarr;
