extends content

block variables
  - var classname = "post-svg-spinner"
  - var smallpanel = true

block header
  h1
    a(id="#{classname}", href="https://medium.com/@clg_/animated-svg-spinner-8dff32d310fc") Creating an animated SVG spinner

block description
  p SVG and CSS were meant to be ♥ 
  p
    a.button(href="https://medium.com/@clg_/animated-svg-spinner-8dff32d310fc") Read blog post&nbsp;&rarr;
