extends content

block variables
  - var classname = "post-taxonomy"
  - var smallpanel = true

block header
  span.tag Article
  h1
    a(id="#{classname}", href="https://medium.com/p/f8383d84ab23") A Taxonomy for Product Feedback

block description
  p A solid taxonomy makes feedback easier to search, analyse, and to derive insights from.
  .image-gallery
    a(href="https://medium.com/p/f8383d84ab23")
      img(src="/img/post-taxonomy.webp" alt="A stylised UI mockup showing a card with customer feedback and various tags applied to it")
