extends content

block variables
  - var classname = "post-insights"
  - var smallpanel = true

block header
  span.tag Case study
  h1
    a(id="#{classname}", href="https://medium.com/p/a5ff1eaf7cfe") Changing The Way We Listen To Product Feedback

block description
  p At Rex I identified and solved for some key problem areas in the way we collected and utilised customer feedback, making our users feel like they had a voice and improving our design and research processes.
  .image-gallery
    a(href="https://medium.com/p/a5ff1eaf7cfe", tabindex="-1")
      img(src="/img/post-insights.webp" alt="The Sampling Officials of the Amsterdam Drapers’ Guild, Known as ‘The Syndics’, Rembrandt, 1662")
