extends content

block variables
  - var classname = "post-ux-breakdown"
  - var smallpanel = true

block header
  h1
    a(id="#{classname}", href="https://medium.com/@clg/ux-design-breakdown-household-bill-management-6ac82c4a5ebf") UX design breakdown: Household bill management

block description
  p
    | This post outlines my 
    strong design process
    |  during a 4-hour UX design exercise.
  .image-gallery
    img(srcset="/img/post-ux-breakdown.jpg 1x, /img/post-ux-breakdown@2x.jpg 2x" src="/img/post-ux-breakdown@2x.jpg" alt="UX breakdown")
  p
    a.button(href="https://medium.com/@clg/ux-design-breakdown-household-bill-management-6ac82c4a5ebf") Read blog post&nbsp;&rarr;
