extends content

block variables
  - var classname = "post-interview"
  - var smallpanel = true

block header
  span.tag Interview
  h1
    a(id="#{classname}", href="https://medium.com/meet-the-ux-designers-at-brisbane/meet-cody-ux-lead-at-rexlabs-b53aac56825") Interview with Chelsea Tang

block description
  p Discussing design backgrounds, user research, and tooling.
  .image-gallery
    a(href="https://medium.com/meet-the-ux-designers-at-brisbane/meet-cody-ux-lead-at-rexlabs-b53aac56825", tabindex="-1")
      img(src="/img/post-interview.webp" alt="Rzeczywistość (1908) by Jacek Malczewski")
