extends content

block variables
  - var classname = "process-engine"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="/process-engine") Process Engine

block description
  p A case study

  hr
  a.button(href="/process-engine") Read more
    span.rarr
