extends content

block variables
  - var classname = "rex"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://rexsoftware.com") Rex

block description
  p Rex provides a suite of products to over 10,000 agents in the real estate industry across Australia, New Zealand, and the UK.
  p After joining the Rex team as a senior designer I became the UX lead on our flagship product, leading the design practice across two product teams. In 2023 I relocated to the UK as the lead on a new large-scale product set to launch in the UK market.
  p At Rex I work end-to-end; developing product strategy alongside my PM; conducting user research; prototyping, iterating, and validating solutions that fit within the architecture of our products; and collaborating with engineers on how to launch those solutions.
  p.grey-dark-text Awarded Rex Ultimate Problem Solver 2021
  p.grey-dark-text Early 2018 &ndash; present
  hr.black-line
  a.button-white(href="https://medium.com/@clg") Case studies
    span.rarr

block figure
  figure.image-gallery
    img(src="/img/rex-pm-desktop.webp" alt="A screenshot from a property management application showing a move in task with a checklist of subtasks to be completed")
    video(autoplay, loop, muted, playsinline).iphone-frame.rex-mobile
      source(src="/img/rex-pm-mobile.mp4", type="video/mp4")
