extends content

block variables
  - var classname = "sarif"
  - var smallpanel = false

block header
  h1.white-text
    a(id="#{classname}", href="/sarif") Sarif

block description
  p.white-text
    | Sarif is an 
    strong iPhone theme 
    | built to accomodate user customisation with a library of UI styles, widgets, icons, and more - all available from within Winterboard. Sarif also supports a huge range of popular third party apps and tweaks, ensuring a complete revamp of your device across the board.
    | Available on iOS 4, 5, and 6. 
  p.white-text.translucent Early 2012 &ndash; late 2013

  if frontPage
    hr
    a.button(href="/sarif") See more
      span.rarr
  else
    hr
    p
      a.button-full(href="cydia://package/com.modmyi.sarifbasic", data-tooltip="Tap this on your jailbroken iPhone") Basic - free from Cydia
        span.rarr
    p
      a.button-full(href="cydia://package/com.modmyi.sarif", data-tooltip="Tap this on your jailbroken iPhone") Premium - $2 from Cydia
        span.rarr
    p
      a.button-full(href="https://github.com/codylg/sarif") Open-source on GitHub
        span.rarr
