figure.half-tiles
  .video-wrapper
    iframe(src="https://www.youtube.com/embed/k7XrGGDJhXY?&autohide=1&autoplay=0&color=white&loop=1&rel=0&showinfo=0&theme=light&vq=hd720")
  img(srcset="/sarif/sarif-03.jpg 1x, /sarif/sarif-03@2x.jpg 2x" alt="Sarif notification")
  img(srcset="/sarif/sarif-02.jpg 1x, /sarif/sarif-02@2x.jpg 2x" alt="Sarif home screen")

hr

h2 Installation
p
  mark Only available on iOS 4, 5, and 6.
ol
  li
    | Install 
    a(href="cydia://package/com.codylg.sarifbasic") Sarif basic
    |  or 
    a(href="cydia://package/com.modmyi.sarif") Sarif premium
    |  through Cydia, and enable the theme in Winterboard.
  li Configure widgets in Sarif.theme/settings.js
  li Clear the cache from Sarif preferences in the Settings app.
p Add-on packages are available for download from Cydia - just search for 'Sarif'.
p
  a.button.button-white(href="/sarif/sarif-wallpaper-pack.zip") Download wallpaper pack
  a.button.button-white(href="/sarif/sarif-icon-template.zip") Download icon template

figure.half-tiles
  img(srcset="/sarif/sarif-ls.jpg 1x, /sarif/sarif-ls@2x.jpg 2x" alt="Sarif lock screen")
  img(srcset="/sarif/sarif-ls2.jpg 1x, /sarif/sarif-ls2@2x.jpg 2x" alt="Sarif lock screen hidden clock")
  img(srcset="/sarif/sarif-dialer.jpg 1x, /sarif/sarif-dialer@2x.jpg 2x" alt="Sarif dialer")
  img(srcset="/sarif/sarif-weather.jpg 1x, /sarif/sarif-weather@2x.jpg 2x" alt="Sarif weather app")
  
hr
  
h2 Sarif mods
p
  | Sarif includes a library of easy to use mods.
  | Activate these in Winterboard to customise the look and functionality of Sarif to your liking.
  | Some mods can be tweaked by editing the settings.js file found in /Library/Themes/Sarif.theme.
  
figure.half-tiles
  img(srcset="/sarif/sarif-mod-app-badges-red.jpg 1x, /sarif/sarif-mod-app-badges-red@2x.jpg 2x", alt="Sarif mod: app badges red")
  img(srcset="/sarif/sarif-mod-app-icons-indent.jpg 1x, /sarif/sarif-mod-app-icons-indent@2x.jpg 2x", alt="Sarif mod: app icons indent")
  img(srcset="/sarif/sarif-mod-app-names.jpg 1x, /sarif/sarif-mod-app-names@2x.jpg 2x", alt="Sarif mod: app names")
  img(srcset="/sarif/sarif-mod-app-names-docked.jpg 1x, /sarif/sarif-mod-app-names-docked@2x.jpg 2x", alt="Sarif mod: app names docked")
  img(srcset="/sarif/sarif-mod-app-panel-glass.jpg 1x, /sarif/sarif-mod-app-panel-glass@2x.jpg 2x", alt="Sarif mod: *app panel glass")
  img(srcset="/sarif/sarif-mod-balloons-untailed.jpg 1x, /sarif/sarif-mod-balloons-untailed@2x.jpg 2x", alt="Sarif mod: balloons untailed")
  img(srcset="/sarif/sarif-mod-dock-hide.jpg 1x, /sarif/sarif-mod-dock-hide@2x.jpg 2x", alt="Sarif mod: dock hide")
  img(srcset="/sarif/sarif-mod-dock-glass-small.jpg 1x, /sarif/sarif-mod-dock-glass-small@2x.jpg 2x", alt="Sarif mod: dock glass small")
  img(srcset="/sarif/sarif-mod-dock-graphite.jpg 1x, /sarif/sarif-mod-dock-graphite@2x.jpg 2x", alt="Sarif mod: *dock graphite")
  img(srcset="/sarif/sarif-mod-dock-graphite-small.jpg 1x, /sarif/sarif-mod-dock-graphite-small@2x.jpg 2x", alt="Sarif mod: *dock graphite small")
  img(srcset="/sarif/sarif-mod-HS-time.jpg 1x, /sarif/sarif-mod-HS-time@2x.jpg 2x", alt="Sarif mod: HS time")
  img(srcset="/sarif/sarif-mod-HS-time-numerical.jpg 1x, /sarif/sarif-mod-HS-time-numerical@2x.jpg 2x", alt="Sarif mod: HS time numerical")
  img(srcset="/sarif/sarif-mod-HS-weather.jpg 1x, /sarif/sarif-mod-HS-weather@2x.jpg 2x", alt="Sarif mod: HS weather")
  img(srcset="/sarif/sarif-mod-HS-weather-icon.jpg 1x, /sarif/sarif-mod-HS-weather-icon@2x.jpg 2x", alt="Sarif mod: *HS weather icon")
  img(srcset="/sarif/sarif-mod-linen-andromeda.jpg 1x, /sarif/sarif-mod-linen-andromeda@2x.jpg 2x", alt="Sarif mod: *linen andromeda")
  img(srcset="/sarif/sarif-mod-linen-dark.jpg 1x, /sarif/sarif-mod-linen-dark@2x.jpg 2x", alt="Sarif mod: linen dark")
  img(srcset="/sarif/sarif-mod-LS-clock-panel.jpg 1x, /sarif/sarif-mod-LS-clock-panel@2x.jpg 2x", alt="Sarif mod: LS clock panel")
  img(srcset="/sarif/sarif-mod-LS-slider-panel.jpg 1x, /sarif/sarif-mod-LS-slider-panel@2x.jpg 2x", alt="Sarif mod: LS slider panel")
  img(srcset="/sarif/sarif-mod-slider-mini.jpg 1x, /sarif/sarif-mod-slider-mini@2x.jpg 2x", alt="Sarif mod: *slider mini")
  img(srcset="/sarif/sarif-mod-slider-notch.jpg 1x, /sarif/sarif-mod-slider-notch@2x.jpg 2x", alt="Sarif mod: *slider notch")
  img(srcset="/sarif/sarif-mod-status-bar-enable.jpg 1x, /sarif/sarif-mod-status-bar-enable@2x.jpg 2x", alt="Sarif mod: status bar enable")
  img(srcset="/sarif/sarif-mod-status-clock-hide.jpg 1x, /sarif/sarif-mod-status-clock-hide@2x.jpg 2x", alt="Sarif mod: status clock hide")
  img(srcset="/sarif/sarif-mod-status-clock-large.jpg 1x, /sarif/sarif-mod-status-clock-large@2x.jpg 2x", alt="Sarif mod: status clock large")
  img(srcset="/sarif/sarif-mod-status-rotate-lock.jpg 1x, /sarif/sarif-mod-status-rotate-lock@2x.jpg 2x", alt="Sarif mod: status rotate lock")
  img(srcset="/sarif/sarif-mod-UI-andromeda.jpg 1x, /sarif/sarif-mod-UI-andromeda@2x.jpg 2x", alt="Sarif mod: *UI andromeda")
  img(srcset="/sarif/sarif-mod-UI-aquamarine.jpg 1x, /sarif/sarif-mod-UI-aquamarine@2x.jpg 2x", alt="Sarif mod: *UI aquamarine")
  img(srcset="/sarif/sarif-mod-UI-atrous.jpg 1x, /sarif/sarif-mod-UI-atrous@2x.jpg 2x", alt="Sarif mod: *UI atrous")
  img(srcset="/sarif/sarif-mod-UI-black.jpg 1x, /sarif/sarif-mod-UI-black@2x.jpg 2x", alt="Sarif mod: UI black")
  img(srcset="/sarif/sarif-mod-UI-blue.jpg 1x, /sarif/sarif-mod-UI-blue@2x.jpg 2x", alt="Sarif mod: UI blue")
  img(srcset="/sarif/sarif-mod-UI-leather-dark.jpg 1x, /sarif/sarif-mod-UI-leather-dark@2x.jpg 2x", alt="Sarif mod: *UI leather dark")
  img(srcset="/sarif/sarif-mod-UI-leather.jpg 1x, /sarif/sarif-mod-UI-leather@2x.jpg 2x", alt="Sarif mod: *UI leather")
  img(srcset="/sarif/sarif-mod-UI-red-linen.jpg 1x, /sarif/sarif-mod-UI-red-linen@2x.jpg 2x", alt="Sarif mod: *UI red linen")
  img(srcset="/sarif/sarif-mod-UI-silver.jpg 1x, /sarif/sarif-mod-UI-silver@2x.jpg 2x", alt="Sarif mod: *UI silver")

hr

h2 Supported apps/tweaks
table
  tr
    td Abstergo
    td Notifications clear icon.
  tr
    td Atom
    td Handle theme. Manual activation - see docs/Atom
  tr
    td *Auxo
    td UI and toggle icons for Auxo app switcher.
  tr
    td *Badger
    td UI and popups with themed .plist.
  tr
    td *BatteryDoctor Pro
    td Notification center toggles. Manual activation - see docs/BDP.
  tr
    td *biteSMS
    td UI and quick compose theme for biteSMS. Enable through biteSMS settings.
  tr
    td *ColorKeyboard
    td Keyboard theme with light and dark themes. QWERTY and AZERTY layouts supported. Two international layout options. Enable through ColorKeyboard settings.
  tr
    td FolderIcons
    td Alternate folder backgrounds and 20 foreground icons.
  tr
    td GBA.emu
    td Control pad skin. Manual activation - see docs/GBA.emu
  tr
    td IntelliscreenX
    td Status bar icon support. Use clock and slider panel mods.
  tr
    td *iWidgets
    td All HS widgets are also available as iWidgets.
  tr
    td *JellyLock
    td Themed app shortcuts and handle. Set icon and handler sizes to maximum.
  tr
    td Live Battery Indicator
    td Themed to show the status bar battery percentage.
  tr
    td LiveClock
    td Live Sarif clock icon.
  tr
    td LockInfo
    td Status bar icons and other support for LockInfo. Use clock and slider panel mods.
  tr
    td MyVibe
    td Themed MyVibe status bar icon.
  tr
    td NCSettings
    td Notification center toggles. Enable through NCSettings settings.
  tr
    td OpenNotifier
    td A set of status bar icons for OpenNotifier. Includes premium icon set support.
  tr
    td Pluck
    td Themed pluck icon. Manual activation - see docs/Pluck
  tr
    td Safari Download Manager
    td Themed Safari download button.
  tr
    td SBSettings
    td UI, toggles, and status icons for the SBSettings tweak. Enable through SBSettings settings.
  tr
    td Snowcover Simple
    td Themes the album display on your lockscreen. Options for 4th gen devices found in docs/Alt graphics.txt
  tr
    td *Velox
    td Includes toggles, buttons and other graphics.
  tr
    td *WeatherIcon
    td Live weather information on a themed icon.
  tr
    td *WhatsApp
    td Chatkit and UI theme for the WhatsApp messaging app.
  tr
    td Tap to Widgets
    td Notification centre widget backgrounds.
  tr
    td TypeStatus
    td iMessage status bar indicator icon.
  tr
    td Zeppelin
    td A themed icon as the carrier in the status bar. Enable through Zeppelin settings.
p
  em * indicates premium pack only

hr

h2 Icon list
ul.column-list
  li Abstergo
  li Activator
  li Adobe Reader
  li Age of Zombies
  li AirFloat
  li AirPort
  li Alien Blue
  li Angry Birds Seasons
  li AnyDO
  li Amazon
  li ANZ GoMoney
  li App Analytics
  li AppInfo
  li Apple Remote
  li Apple Store
  li App Store
  li Australia Post
  li Auxo
  li Badland
  li Barrel
  li BatteryDoctor Pro
  li Beat the Traffic
  li biteSMS
  li Blackboard (Mobile Learn)
  li Blizzard Authenticator
  li Bulletin
  li BytaFont
  li Calcbot
  li Calculator
  li Calendar
  li Callbar
  li Camera
  li Camera+
  li Camera Awesome
  li Candy Crush
  li Capital One
  li CARROT
  li theCHIVE
  li Clear
  li Clock
  li Clock Builder
  li Clock Hide
  li Colloquy
  li CommBank
  li Compass
  li Consume
  li Contacts
  li Contre Jour
  li Conversions
  li Convert Any Unit Free
  li Convertbot
  li Cool Shoes
  li Couple
  li Craigslist
  li Crash Reporter
  li Cyanide and Happiness
  li Cydia
  li Cylay
  li Dashboard X
  li DePersistWifi
  li Deviations
  li Display Recorder
  li Dots
  li Downcast
  li Dreamboard
  li Dropbox
  li Easy Grade
  li eBay
  li eBay Annunci
  li Evernote
  li Everyme
  li Evi
  li Facebook
  li Facebook Messenger
  li Facebook Pages
  li FaceTime
  li FakeCarrier
  li Fancy
  li Fantastical
  li FedEx Mobile
  li Figure
  li Find my Friends
  li Find my iPhone
  li Fish Out of Water
  li Flex
  li Flight Control
  li Flipboard
  li Flixster
  li f.lux
  li freecreditscore.com
  li Fruit Ninja
  li FS5 Hockey
  li Game Center
  li GasBuddy
  li GBA.emu
  li Gmail
  li Godesk
  li Google+
  li Google Authenticator
  li Google Chrome
  li Google Currents
  li Google Drive
  li Google Earth
  li Google Latitude
  li Google Maps
  li Google Play Books
  li Google Search
  li Google Translate
  li gpSPhone
  li Gridlee
  li Groupon
  li Gumtree
  li Haze
  li iBlank
  li iBooks
  li iCleaner
  li iCleaner Pro
  li Icon Thief
  li iFile
  li iGame Guardian
  li iHandy Level
  li IMDb
  li Imgupr
  li The Impossible Game
  li Infinity Blade
  li Ingress
  li InstaGrade
  li Instagram
  li Intelliscreen X
  li i-Ruler
  li iScheduler
  li ISS Spotter
  li iStudiez Lite
  li iStudiez Pro
  li iTunes
  li iTunes U
  li Jasmine
  li JellyLock
  li Jetpack Joyride
  li Karate Girl
  li Kickstarter
  li Kindle
  li Launch Center Pro
  li LayoutMaker
  li Letterpress
  li LinkedIn
  li Live Score Addicts
  li LockInfo
  li Lync 2010
  li Lync 2013
  li Mail
  li Mailbox
  li MailChimp
  li Maps
  li MD.emu
  li Megapolis
  li Mercury Browser
  li MessageMe
  li Messages
  li MewSeek
  li Minecraft Pocket Edition
  li Mini Gold Matchup
  li ModMyi
  li Monster Dash
  li Music
  li Music Box
  li MyFace+
  li MyLocation
  li My Location Social Edition
  li MyWallet+
  li NAB
  li Netflix
  li Nike+
  li NOAA Weather Radar
  li Notes
  li OfficeTime
  li OneNote
  li 1Password
  li Onion Browser
  li Opener
  li OpenNotifier
  li Pandora
  li Pandora Downloader
  li Passbook
  li Path
  li PayPal
  li PdaNet
  li Penny Time
  li Phone
  li Photos
  li Photoshop Touch
  li Pinterest
  li Plants vs Zombies
  li Plants vs Zombies 2
  li Pluck
  li PNC Mobile
  li Pocket
  li Podcasts
  li Ponon! Deluxe
  li ProTube
  li ProTube HD
  li Puffin Browser
  li Pulse
  li Qantas
  li Qbism
  li QR Reader
  li Rayman Jungle Run
  li Rdio
  li RedLaser
  li Reeder
  li Respring
  li RunKeeper Pro
  li Safari
  li SBSettings
  li ScoreCenter
  li Scribblenauts
  li SEEK Jobs
  li Settings
  li Shazam
  li Signal 2
  li The Simpsons Tapped Out
  li SkyDrive
  li Skype
  li Slingshot Racing
  li Smash to Bits
  li SMS Gratis
  li Snapchat
  li Spotify
  li Solar
  li Solipskier
  li Songza
  li SoundCloud
  li SoundHound
  li Sparrow
  li SpeedTest
  li Splitwise
  li Springtomize 2
  li Stay Alive
  li Steam
  li Still Waitin
  li Stocks
  li Subito.it
  li Sunrise Calendar
  li Super Hexagon
  li Super Stickman Golf
  li Swackett
  li Sword & Sworcery
  li Tap to Widgets
  li TDBank
  li Televideo+
  li Telstra 24x7
  li Terminal
  li TextPics
  li ThemeIconMaker
  li ThemeIt
  li ThemeReady
  li 3G Unrestrictor
  li Timer
  li Tiny Wings
  li Tumblr
  li TuneIn Radio
  li Tweetbot
  li Twitter
  li Twitterific
  li UnlimTones
  li Upgur
  li UP
  li UPS
  li USPS
  li Velox
  li The Verge
  li Viber
  li Videos
  li Vimeo
  li Vine
  li Virtual Table Tennis
  li Voice Memos
  li Waze
  li Weather
  li Weatherbug
  li Weather Network
  li WeChat
  li Wells Fargo
  li WhatsApp
  li WiFi Passwords
  li Wikipedia
  li Winterboard
  li Wordfeud
  li XFINITY
  li Yahoo! Messenger
  li Yahoo! Weather
  li Yelp
  li YouTube
  li zeebox
  
figure.half-tiles
  img(srcset="/sarif/sarif-folder.jpg 1x, /sarif/sarif-folder@2x.jpg 2x" alt="Sarif home screen folders")
  img(srcset="/sarif/sarif-messages.jpg 1x, /sarif/sarif-messages@2x.jpg 2x" alt="Sarif messages")
  img(srcset="/sarif/sarif-nc.jpg 1x, /sarif/sarif-nc@2x.jpg 2x" alt="Sarif notification center")
  img(srcset="/sarif/sarif-music.jpg 1x, /sarif/sarif-music@2x.jpg 2x" alt="Sarif music")

hr

h2 Changelog
h3 Version 2.3
ul
  li Sarif is now free-to-play.
  li Enhanced Sarif preferences bundle.
  li Added new icons.
  li *Added aquamarine UI mod.
  li Added support for Tap to Widgets.
  li *Added support for Badger.
  li Added alt in-call dialer with keypad letters.
  li Added alt passcode keypad for lighter wallpapers.
  li Added a new wallpaper.
  li *Added new JellyLock icons.
  li Added some more weather condition translations (cr. Charles Angaud)
  li Removed the studs from the glass panel mod (still available as _alts).
  li Fixed NCSettings LTE toggle issues.
  li Fixed glass panel wallpaper issues.
  li Fixed corrupted white wallpaper.
h3 Version 2.2
ul
  li Added new icons.
  li Added Sarif preferences bundle.
  li Added set of dark ColorKeyboard themes.
  li Added two international keyboard layouts for ColorKeyboard.
  li Added graphite dock mods.
  li Added slider panel mod (useful for LockInfo etc.)
  li Added support for Russian language.
  li Added support for IntelliscreenX status bar icons.
  li Added support for SBSettings silent/vibrate status icon.
  li Added option for HS widget opacity in settings.js
  li Added option to hard disable weather in settings.js
  li Added a handle theme for Atom.
  li Added new shortcut icons and alt handle for JellyLock.
  li Touched up the look of the dock and page indicators.
  li Moved calendar date style to the icon bundle.
  li Weather condition text now scales with longer strings.
  li Optimized large PNGs to reduce package sizes.
  li Removed ThemeReady dependency.
  li Fixed Opennotifier premium pack issues.
  li Fixed up some weather image positions.
  li Fixed missing events tab and strings in photos app.
  li Fixed slider widget problems with clock panel mod.
h3 Version 2.1
ul
  li Added new icons.
  li Added multi-language support for widgets (Deutsch, English, Español, Français, Italiano, Nederlands).
  li Added red linen UI mod.
  li Added andromeda linen mod.
  li Added HS weather icon mod.
  li Added untailed message balloons mod.
  li Added numerical HS time mod.
  li Added docked app names mod.
  li Added weather icon set for NC widget and Weather app.
  li Added Safari progress bar.
  li Added visual voicemail placard.
  li Added keyboard popups.
  li Added scroll bar indicators.
  li Added alt dialer graphics with button letters.
  li Added date and weather toggles to LS slider widget.
  li Added shorthand toggle for timebox and HS time.
  li Added support for Abstergo.
  li Added support for BatteryDoctor Pro.
  li Added support for FolderIcons.
  li Added support for iWidgets.
  li Added support for Live Battery Indicator.
  li Added support for LiveClock.
  li Added support for MyVibe.
  li Added support for Pluck.
  li Added support for Safari Download Manager.
  li Added support for Velox.
  li Added support for WeatherIcon.
  li Added theme for Siri.
  li Added theme for Battery Doctor Pro toggles.
  li Added theme for ColorKeyboard (QWERTY and AZERTY layouts).
  li Added theme for GBA.emu control pad.
  li Added theme for JellyLock (Set icon sizes to max).
  li Added theme for NCSettings toggles.
  li Added theme for weather app.
  li Added new wallpaper.
  li Added new Auxo toggle icons.
  li Added new icons for OpenNotifier premium pack.
  li Moved default load screens to a separate splash screen bundle.
  li Send button now distinguishes between SMS and iMessage.
  li Timebox clock icon now changes to date when pressed.
  li Wallpapers now use non-legacy directory - turn legacy naming OFF in WallpaperJPEGifier.
  li Failed passcode panel is now red.
  li Removed biteSMS status bar icons (unread count too large for a small icon).
  li Removed redundant biteSMS chatkit.
  li Removed redundant large timebox mod (now achieved through settings.js)
  li Fixed HS weather widget refresh issues (will now refresh every five minutes).
  li Fixed missing VPN settings icon.
  li Many other small changes.
h3 Version 2.0.2
ul
  li Added new icons.
  li Added option to change timebox position.
  li Added option to disable timebox.
  li Added option to change lock screen slider widget position.
  li Added option to disable lock screen slider widget.
  li Added option to disable lock screen slider widget animations.
  li Added option to have lock screen slider widget always on.
  li Added alt graphics for clock panel mod to allow for the default date to be used.
  li Removed LS clear mod (can be achieved in settings.js now).
  li Removed string that was hiding "Enter Passcode" text.
  li Fixed lock screen weather widget.
h3 Version 2.0.1
ul
  li Added new icons.
  li Added dock hide mod.
  li Added rotation lock icon mod.
  li Added support for TypeStatus.
  li Added status bar tint overlay - no more blue iOS6 status bar.
  li Added 24 hour time option to settings.js
  li Added biteSMS status bar icon.
  li Added strings for mail (removes 'slide to' text).
  li Added black border folder icon.
  li Added button bar icons for WhatsApp.
  li Moved Wallpaper.html from Sarif.theme to each widget.
  li Reduced font size of app names mod.
  li Fixed midnight hour showing as 0.
h3 Version 2.0
ul
  li Added new icons.
  li Added interactive lockscreen.
  li Added notes app theme.
  li Added camera app theme.
  li Added calculator app theme (portrait only).
  li Added seven UI mods - black, blue, silver, leather, leather dark, andromeda, and atrous.
  li Added dark linen mod.
  li Added glass panel mod.
  li Added homescreen time mod.
  li Added homescreen weather mod.
  li Added mini slider mod.
  li Added notch slider mod.
  li Added clear lockscreen mod.
  li Added support for home screen widgets.
  li Added support for Auxo.
  li Added support for OpenNotifier.
  li Added support for LockInfo (use clock panel mod).
  li Added support for Snowcover Simple.
  li Added new wallpapers to the wallpaper roll.
  li Added new transparent lock keypad.
  li Added new lockscreen slider and groove.
  li Added new pinstripe texture.
  li Added new SBSettings icons.
  li Added new switches.
  li Added video player UI.
  li Added lockscreen media controls.
  li Added mini button bar icons.
  li Added remaining tab bar icons now that ThemeReady supports iOS 6 cache clearing.
  li Added homescreen app icon shadows.
  li Added array of alternate colours for message bubbles (check docs/Alt graphics.txt).
  li Added notification pull down.
  li Added stock widget icons.
  li Added rotation lock status icon (alt).
  li Added old YouTube app load screen for iPhone 5.
  li Added strings for calendar.
  li Added list of alt graphics to Sarif.theme/docs.
  li Added Wallpaper JPEGifier dependency - wallpapers can now be applied through settings.
  li Fixed several problems with WhatsApp theme.
  li Fixed secondary notifications position.
  li Fixed biteSMS NC button not always theming.
  li Fixed slider well problems on 3rd gen devices.
  li Fixed status bar problems in landscape mode and other landscape issues.
  li Fixed missing world clock backs.
  li Fixed nav bar cornering.
  li Fixed 4G status icon size.
  li Fixed conflicting text shadow on status bar clock.
  li Fixed texture problems on biteSMS QC.
  li Remade entire navigation UI with new mods and proper landscape support.
  li Remade regular and active status bars.
  li Remade many old app icons.
  li Rewrote all lockscreen mods and app names mod.
  li Renamed mods, they will now appear above the main theme by default.
  li Removed carrier bundle.
  li Removed install instructions theme.
  li Removed redundant string bundles.
  li Removed BytaFont, Goulong and AntiTint dependencies.
  li Touched up keypads.
  li Touched up message bubbles.
  li Simplified wallpaper set.
  li Made several tweaks to make the theme more 'native font friendly'.
  li Various UI additions.
h3 Version 1.4.2
ul
  li Added new icons.
  li Added list of alternate icons to icon bundle.
  li Added music app theme.
  li Added full biteSMS theme.
  li Added WhatsApp theme.
  li Added SBSettings theme.
  li Added red app badges mod.
  li Added indented icons mod.
  li Added folder and switcher edges.
  li Added new passcode entry field.
  li Added bulletin list corners.
  li Added more preference bundle icons.
  li Added SB printer icon.
  li Added theme for social widget.
  li Added biteSMS strings.
  li New button bar icon highlight.
  li New button bar icons for clock and photos.
  li Changed blue iMessage bubble to grey.
  li Changed rotation lock to full icon.
  li Fixed lockscreen notifications popup.
  li Fixed typo in status clock.
  li Fixed wallpaper directory in LS mods.
  li Fixed Nike icon in settings.
  li Fixed 4G status bar icon.
  li Cleaned up larger status clock mod.
  li Cleaned up calendar text.
h3 Version 1.4.1
ul
  li Added new icons.
  li Fixed iPhone 3 and 4 lockscreen wallpaper bug.
  li Fixed LTE status icon not theming.
  li Fixed send button clipping.
  li Fixed sliders not working on 3rd gen devices.
  li Fixed switcher media controls not working on 3rd gen devices.
  li Fixed button problems on 3rd gen iOS 5 dialler.
  li Fixed wallpapers being stretched when applied through Settings.
  li Fixed tableview pinstripe.
  li Cleaned up timebox.
  li Cleaned up popups.
  li Cleaned up a lot of 3rd gen graphics.
  li Removed grey bar from behind lock entry field.
  li Rewrote SpringBoard.strings.
  li Added strings for clock, phone and messages app - 'slide to' text should finally be killed.
  li Added wallpaper preview overlays.
h3 Version 1.4
ul
  li Support for 3rd generation devices.
  li Support for iOS 6.
  li Support for iPhone 5.
  li Added new icons.
  li Added Zeppelin theme.
  li Added NCSettings theme.
  li Added support for Godesk.
  li Added installation instructions theme.
  li Added new notification centre theme.
  li Added new default load screens.
  li Added new SMS background.
  li Added new folder and switcher background.
  li Added new smaller badges.
  li Added photo library video UI.
  li Added switcher AirPlay buttons.
  li Redesigned LS large time mod.
  li Moved native icons to bundle.
  li Removed panel dialer mod due to compatability issues.
  li Made wide dock default and changed dock mod appropriately.
  li Status bar clock is now much easier to read.
  li Fixed missing UI LCD.
  li Fixed chatkit badges.
  li Installation now has a dependency on BytaFont, Goulong and AntiTint.
h3 Version 1.3
ul
  li Integrated with ThemeReady.
  li Added new icons.
  li Added status bar mod.
  li Added panel dialer mod.
  li Added new dialer and keypad.
  li Added volume and silence popup graphics.
  li Added tethering LCD.
  li Added more carrier bundles.
  li Added Goulong font to install package.
  li Wallpaper is now added to the system roll.
  li Improved in-call keypad.
  li Changed larger LS time mod to 12-hour.
h3 Version 1.2-2
ul
  li Better 5.0.x support.
  li Updated strings and added full language support.
  li Added carrier bundle with new blank carrier icons.
  li Added app names mod.
  li New media controls.
  li Fixed Google+ icon.
  li Fixed NC mail icon.
h3 Version 1.2-1
ul
  li Fixed lockscreen display problems with some mods.
  li Fixed SC4 theme directory.
  li Fixed biteSMS theme directory.
h3 Version 1.2
ul
  li Time font now set to system font.
  li Timebox now separated from wallpaper.
  li Redesigned timebox clock icon.
  li Default clock is now hidden via font.
  li Date is now disabled.
  li Added media controls.
  li Redesigned slider.
  li Slider background no longer appears under call buttons.
  li Added camera slider.
  li Removed 'Enter Passcode' text.
  li Added an icon set, including spotlight, settings and nc icons.
  li Added icon framework to mask unthemed icons.
  li Removed home screen time/date html - you can now set a wallpaper from your photos app.
  li New material textures for folders, switcher and nc.
  li Added app download progress bars.
  li Tweaked badge text style.
  li Tweaked delete app badge.
  li Redesigned volume slider.
  li Added default load screens for all native apps.
  li Added new navigation bar buttons.
  li Added on/off switch tracks.
  li Added missing button bar graphics.
  li Added table next buttons.
  li Added pinstripe background.
  li Added check selection graphic framework.
  li Added picker frames.
  li Added undo popup box.
  li Tweaked button bar selectors.
  li Redesigned all status bar icons and added missing icons.
  li Added battery percentages.
  li Status bar clock now shown by default.
  li Tweaked in call and recording bars.
  li Added support for BiteSMS 6.3.
  li Added support for the native clock app.
  li Added calendar month tile graphic.
  li Added now playing and chapter buttons.
  li Redesigned iPod controls.
  li Redesigned iPod sliders.
  li Redesigned iPod track fill.
  li Added mail sending progress bar.
  li Added maps bookmark button.
  li New SMS material background with retina display support.
  li Redesigned SMS sending progress bar.
  li Fixed SMS media bubble frame mask.
  li Redesigned Snowcover to match existing UI.
  li Added support for the native weather app.
  li Added wider dock mod.
  li Added hidden status bar clock mod.
  li Added larger staus bar clock mod.
  li Added default lockscreen clock mod.
  li Added larger ls time mod.
  li Added black UI mod.
  li Removed several third party tweak dependencies.
h3 Version 1.1
ul
  li Added missing data type icons.
  li Added default load images for native apps.
h3 Version 1.0
ul
  li Initial release (March 2012).
