extends content

block variables
  - var classname = "scrunchapp"
  - var smallpanel = false

block header
  h1
    a(href="//app.scrunch.com", target="blank") Scrunch

block description
  p
    | Scrunch is a data-driven influencer marketing 
    strong platform
    | .
  hr
  a.button(href="//app.scrunch.com", target="blank") https://app.scrunch.com &rarr;

block figure
  figure.image-gallery
    img(srcset="/img/scrunchapp.jpg 1x, /img/scrunchapp@2x.jpg 2x" alt="Scrunch platform")
