extends content

block variables
  - var classname = "no-border scrunch"
  - var smallpanel = false

block header
  h1 Scrunch

block description
  p Scrunch was an early player in the influencer marketing space, where our product enabled brands to find and engage with influencers through influencer marketing campaigns.
  p As the founding product designer, I worked with a small team to design, build, and launch a data-driven influencer marketing platform from the ground up.
  span.tag Mid 2013 &ndash; late 2017

block figure
  figure.image-gallery
    video(autoplay, loop, muted, playsinline)
      source(src="/img/scrunch.mp4", type="video/mp4")
    img(src="/img/scrunchapp.webp" alt="Scrunch app directory search")
