extends content

block variables
  - var classname = "scrunch"
  - var smallpanel = false

block header
  h1 Scrunch

block description

  p Scrunch was an early player in the influencer marketing space, where our product enabled brands to find and engage with influencers.
  p As the founding product designer, I worked with a small team to design and build a data-driven influencer marketing platform from the ground up.
  p.grey-dark-text Mid 2013 &ndash; late 2017

block figure
  figure.image-gallery
    video(autoplay, loop, muted, playsinline)
      source(src="/img/scrunch.mp4", type="video/mp4")
    img(src="/img/scrunchapp.webp" alt="Scrunch app directory search")
