extends content

block variables
  - var classname = "scrunch"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="//scrunch.com") Scrunch

block description

  p
    | As 
    strong lead UI/UX
    |  at Scrunch, I worked with a small team to take their data-driven 
    a(href="//app.scrunch.com",) influencer marketing platform
    |  from concept to product.
  p
    | I also designed and developed the 
    a(href="//scrunch.com",) scrunch.com landing page
    |  and 
    a(href="//scrunch.com/blog",) blog
    | .
  p.grey-text Mid 2013 - late 2017
  hr
  .btn-wrapper
    a.button(href="//scrunch.com") scrunch.com&nbsp;&rarr;
    a.button(href="//app.scrunch.com") app.scrunch.com&nbsp;&rarr;
  

block figure
  figure.image-gallery.image-gallery-small
    img.gallery-span(srcset="/img/scrunchdotcom.gif 1x, /img/scrunchdotcom@2x.gif 2x" alt="scrunch.com landing page")
    img.gallery-span(srcset="/img/scrunchapp.jpg 1x, /img/scrunchapp@2x.jpg 2x" alt="Scrunch app directory search")
    img(srcset="/img/scrunchapp-campaign.jpg 1x, /img/scrunchapp-campaign@2x.jpg 2x" alt="Scrunch app campaign")
    img(srcset="/img/scrunchdotcom-features.jpg 1x, /img/scrunchdotcom-features@2x.jpg 2x" alt="scrunch.com search feature")
    img(srcset="/img/scrunchdotcom-blog.jpg 1x, /img/scrunchdotcom-blog@2x.jpg 2x" alt="scrunch.com blog")
