extends content

block variables
  - var classname = "scrunch"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="//scrunch.com") Scrunch

block description

  p
    | As 
    strong lead UI/UX
    |  at Scrunch, I worked with a small team to take their data-driven influencer marketing platform from concept to product.
  p I also designed and developed the Scrunch landing page and blog.
  p.grey-dark-text Mid 2013 &ndash; late 2017

block figure
  figure.image-gallery
    video(autoplay, loop, muted, playsinline)
      source(src="/img/scrunch.mp4", type="video/mp4")
    img(src="/img/scrunchapp.webp" alt="Scrunch app directory search")
