extends content

block variables
  - var classname = "scrunch"
  - var smallpanel = false

block header
  h1
    a(href="//scrunch.com", target="blank") Scrunch

block description
  p
    | For 4 years I was the lead UI/UX at Scrunch — a data-driven influencer marketing platform.
    | While there I helped build the data-rich Scrunch platform from the ground up.
  p
    | I also designed and developed the scrunch.com landing page and blog.
  p.grey-text Mid 2013 - late 2017
  hr
  a.button(href="//app.scrunch.com", target="blank") https://app.scrunch.com &rarr;
  a.button(href="//scrunch.com", target="blank") https://scrunch.com &rarr;
  a.button(href="//scrunch.com/blog", target="blank") https://scrunch.com/blog &rarr;
  

block figure
  figure.image-gallery.image-gallery-small
    img.landing-gif(srcset="/img/scrunchdotcom.gif 1x, /img/scrunchdotcom@2x.gif 2x" alt="scrunch.com landing page")
    img(srcset="/img/scrunchdotcom-campaign.jpg 1x, /img/scrunchdotcom-campaign@2x.jpg 2x" alt="scrunch.com campaign")
    img(srcset="/img/scrunchdotcom-features.jpg 1x, /img/scrunchdotcom-features@2x.jpg 2x" alt="scrunch.com search feature")
    img(srcset="/img/scrunchdotcom-blog.jpg 1x, /img/scrunchdotcom-blog@2x.jpg 2x" alt="scrunch.com blog")
