extends content

block variables
  - var classname = "scrunch"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="//scrunch.com") Scrunch

block description

  p
    | As 
    strong lead UI/UX
    |  at Scrunch, I worked with a small team to take their data-driven 
    a(href="//app.scrunch.com",) influencer marketing platform
    |  from concept to product.
  p
    | I also designed and developed the 
    a(href="//scrunch.com",) scrunch.com landing page
    |  and blog.
  p.grey-dark-text Mid 2013 &ndash; late 2017
  hr
  .btn-wrapper
    a.button(href="//scrunch.com") scrunch.com&nbsp;&rarr;
    a.button(href="//app.scrunch.com") app.scrunch.com&nbsp;&rarr;
  

block figure
  figure.image-gallery
    img(srcset="/img/scrunchdotcom.gif 1x, /img/scrunchdotcom@2x.gif 2x" alt="scrunch.com landing page")
    img(srcset="/img/scrunchapp.jpg 1x, /img/scrunchapp@2x.jpg 2x" alt="Scrunch app directory search")
