extends content

block variables
  - var classname = "threads-network"
  - var smallpanel = false

block header
  h1.white-text
    a#threads-network(href="#threads-network") Threads Network
  
block description
  p.white-text
    | Two samples from a 
    strong logo set
    |  for the Threads Network - a family of blogs covering travel, fashion, and food.
  p.white-text
    | Left: logo for 
    a(href="http://brisbanethreads.com", target="_blank") Brisbane Threads
    | . The Story Bridge featured in this logo is a landmark of the city.
  p.white-text
    | Right: 
    a(href="http://travellingthreads.com", target="_blank") Travelling Threads
    | , a sister-blog focused on travel.
    
block figure
  figure
    img(srcset="/img/threads-logos.png 1x, /img/threads-logos@2x.png 2x" alt="Threads network logos")
