extends content

block variables
  - var classname = "tokens"
  - var smallpanel = false

block header
  h1
    a(id="#{classname}", href="https://misotoken.com") Miso Token

block description
  p My store where I design, illustrate, and print custom token cards for Magic: The Gathering.
  hr
  a.button(href="https://misotoken.com") Buy on Etsy
    span.rarr

block figure
  figure
    div
      img(src="/img/token-clue-goblin.webp" alt="A card featuring a goblin trying to solve a mystery")
    div
      img(src="/img/token-golem-goblin.webp" alt="A card featuring three goblins stacked on top of each other")
    div
      img(src="/img/token-food-cat.webp" alt="A card featuring a cat with a slice of bread around it's head")
    div
      img(src="/img/token-blood-badger.webp" alt="A card featuring a badger holding a bloody mary")
