@import '../global/colors';
@import '../global/vars';
@import '../global/mixins';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$mana-colourless: #CAC2C0;
$mana-black: #120C0E;
$mana-green: #A7D1B1;
$mana-red: #EEAD94;

body {
  background-image: none;
  background-color: $charcoal-dark;

  &::before, &::after {
    display: none;
  }
}

.mtg-counter {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 12px;
  touch-action: manipulation;

  .counter-group {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
  }

  .counter {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
    margin: 4px;
    overflow: hidden;
    border: 1px solid rgba($off-white, 0.05);
    border-radius: 8px;
    background-color: $charcoal;

    @media (max-width: 580px) {
      flex-basis: 40%;
    }

    h1 {
      position: absolute;
      top: 12px;
      margin: 0;
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-size: 13px;
      color: $charcoal-light;
    }

    img.mana-symbol {
      position: absolute;
      top: 12px;
      width: 16px;
    }

    input {
      z-index: 10;
      width: 1ch;
      min-width: 1ch;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      font-family: "Space Mono", monospace;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: $off-white;
      outline: 0;
      -moz-appearance: textfield;

      &.wide {
        width: 2ch;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &.empty {
        opacity: 0.33;
      }

      &::placeholder {
        font-size: 28px;
      }
    }

    .increase, .decrease, .reset {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 20px;
      border: 0;
      background-color: transparent;
      font-size: 20px;
      color: $charcoal-light;
      transition: background-color 0.1s;

      &:active {
        background-color: rgba($white, 0.03);
      }
    }

    .increase {
      right: 0;
      justify-content: flex-end;
    }

    .decrease, .reset {
      left: 0;
      justify-content: flex-start;
    }

    .reset {
      font-size: 16px;
    }

    &#storm input {
      color: #FFC544;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px #FFC544);
      }
    }

    &#colourless input {
      color: $mana-colourless;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-colourless);
      }
    }

    &#black input {
      color: $mana-black;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $white);
      }

      &.empty {
        opacity: 0.66;
      }
    }

    &#red input {
      color: $mana-red;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-red);
      }
    }

    &#green input {
      color: $mana-green;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-green);
      }
    }

    &#foundry1, &#foundry2, &#foundry3, &#foundry4 {

      .decrease {
        font-size: 16px;
      }
    }
  }
}
