@import '../global/colors';
@import '../global/vars';
@import '../global/mixins';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$counter-font: "Space Mono", monospace;
$mana-colourless: #CAC2C0;
$mana-black: #120C0E;
$mana-green: #A7D1B1;
$mana-red: #EEAD94;


body {
  background-image: none;
  background-color: $black;

  &::before, &::after {
    display: none;
  }
}

.mtg-counter {
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: calc(env(safe-area-inset-top) - 8px);
  padding-right: calc(env(safe-area-inset-right) - 8px);
  padding-bottom: calc(env(safe-area-inset-bottom) - 8px);
  padding-left: calc(env(safe-area-inset-left) - 8px);
  margin: 4px;
  touch-action: manipulation;

  @media (max-height: 400px) {
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    padding-top: calc(env(safe-area-inset-top) - 6px);
    padding-right: calc(env(safe-area-inset-right) - 6px);
    padding-bottom: calc(env(safe-area-inset-bottom) - 6px);
    padding-left: calc(env(safe-area-inset-left) - 6px);
    margin: 3px;
  }

  .counter-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
  }

  .control-group {
    min-height: 48px;
    max-height: 48px;

    .card {
      background-color: $charcoal-dark;
    }

    button {
      width: 100%;
      height: 100%;
      padding: 8px;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 12px;
      color: $grey;
      text-size-adjust: none;
      user-select: none;

      &:active {
        background-color: rgba($white, 0.08);
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    overflow: hidden;
    border-radius: 8px;
    background-color: $charcoal;
    background-image: url("data:image/svg+xml;utf8,<svg width=\"12\" height=\"12\" viewBox=\"0 0 12 12\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M3 3H4V4H3V3Z\" fill=\"%23363840\"/><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M9 9H10V10H9V9Z\" fill=\"%233C3E46\"/></svg>");
    box-shadow: 0 1px 0 rgba($off-white, 0.15) inset, 0 0 0 1px rgba($off-white, 0.05) inset, 0 -48px 32px rgba($black, 0.12) inset;

    @media (max-width: 580px) {
      flex-basis: 40%;
    }

    @media (max-height: 400px) {
      margin: 3px;
    }
  }

  .counter {
    min-height: 96px;

    h1 {
      position: absolute;
      top: 12px;
      margin: 0;
      font-family: $counter-font;
      font-weight: 400;
      font-size: 13px;
      color: $charcoal-light;
      user-select: none;

      @media (max-height: 400px) {
        top: 10px;
      }
    }

    img.mana-symbol {
      position: absolute;
      top: 12px;
      width: 16px;
      user-select: none;

      @media (max-height: 400px) {
        top: 10px;
        width: 14px;
      }
    }

    input {
      z-index: 10;
      width: 1ch;
      min-width: 1ch;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: $off-white;
      outline: 0;
      -moz-appearance: textfield;

      @media (max-height: 400px) {
        font-size: 36px;
      }

      &.life {
        width: 2ch;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &.empty {
        opacity: 0.33;
      }

      &::placeholder {
        font-size: 28px;
      }
    }

    .increase, .decrease, .reset {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 20px;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 20px;
      color: $charcoal-light;
      user-select: none;
    }

    .increase {
      right: 0;
      justify-content: flex-end;

      &:active {
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 100%);
      }
    }

    .decrease, .reset {
      left: 0;
      justify-content: flex-start;

      &:active {
        background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 100%);
      }
    }

    &#storm input {
      color: #FFC544;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px #FFC544);
      }
    }

    &#colourless input {
      color: $mana-colourless;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-colourless);
      }
    }

    &#black input {
      color: $mana-black;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $white);
      }

      &.empty {
        opacity: 0.66;
      }
    }

    &#red input {
      color: $mana-red;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-red);
      }
    }

    &#green input {
      color: $mana-green;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-green);
      }
    }

    &#foundry1, &#foundry2, &#foundry3, &#foundry4 {

      .decrease {
        font-size: 14px;
      }
    }
  }
}
