@import '../global/vars';
@import '../global/mixins';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$counter-font: "Space Mono", monospace;
$mana-black-bg: #B3A7C8;
$mana-black-fg: #1A132A;
$mana-colourless-bg: #C9C2BF;
$mana-colourless-fg: #221F20;
$mana-green-bg: #A6D0B0;
$mana-green-fg: #05150B;
$mana-red-bg: #F5C1AC;
$mana-red-fg: #1C0201;


body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: none;
  background-color: #000000;

  &::before,
  &::after {
    display: none;
  }
}

.mtg-counter {
  width: calc(100dvw - 8px);
  height: calc(100dvh - 8px);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: calc(env(safe-area-inset-top) - 8px);
  padding-right: calc(env(safe-area-inset-right) - 8px);
  padding-bottom: calc(env(safe-area-inset-bottom) - 8px);
  padding-left: calc(env(safe-area-inset-left) - 8px);
  margin: 4px;
  touch-action: manipulation;

  @media (max-height: 400px) {
    width: calc(100dvw - 4px);
    height: calc(100dvh - 4px);
    padding-top: calc(env(safe-area-inset-top) - 4px);
    padding-right: calc(env(safe-area-inset-right) - 4px);
    padding-bottom: calc(env(safe-area-inset-bottom) - 4px);
    padding-left: calc(env(safe-area-inset-left) - 4px);
    margin: 2px;
  }

  .counter-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
  }

  .control-group {
    min-height: 48px;
    max-height: 48px;

    .card {
      background-color: rgb(35, 33, 40);
    }

    button {
      width: 100%;
      height: 100%;
      padding: 8px;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 12px;
      color: rgb(190, 192, 205);
      text-size-adjust: none;
      user-select: none;
      -webkit-touch-callout: none;

      &:active {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(38, 40, 46);
    background-image: url("data:image/svg+xml;utf8,<svg width=\"12\" height=\"12\" viewBox=\"0 0 12 12\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23363840\"/><rect x=\"6\" y=\"6\" width=\"1\" height=\"1\" fill=\"%23363840\"/></svg>");
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset, 0 -48px 32px rgba(0, 0, 0, 0.12) inset;
    transition: all 0.2s ease-in-out;

    &.mana-count.active,
    &.golem-foundry.can-golem {
      background-image: url("data:image/svg+xml;utf8,<svg width=\"12\" height=\"12\" viewBox=\"0 0 12 12\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%2326282E\" opacity=\"0.15\"/><rect x=\"6\" y=\"6\" width=\"1\" height=\"1\" fill=\"%2326282E\" opacity=\"0.15\"/></svg>");
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -48px 32px rgba(0, 0, 0, 0.06) inset;

      .increase, .decrease, .reset {
        color: rgba(38, 40, 46, 0.36);
      }

      .increase {

        &:active {
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.36) 100%);
        }
      }

      .decrease, .reset {

        &:active {
          background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.36) 100%);
        }
      }
    }

    @media (max-width: 580px) {
      flex-basis: 40%;
    }

    @media (max-height: 400px) {
      margin: 3px;
    }
  }

  .counter {

    h1 {
      position: absolute;
      top: 12px;
      margin: 0;
      font-family: $counter-font;
      font-weight: 400;
      font-size: 13px;
      color: rgb(130, 135, 145);
      user-select: none;
      -webkit-touch-callout: none;

      @media (max-height: 400px) {
        top: 10px;
      }
    }

    img.mana-symbol {
      position: absolute;
      top: 12px;
      width: 16px;
      user-select: none;
      -webkit-touch-callout: none;

      @media (max-height: 400px) {
        top: 10px;
        width: 14px;
      }
    }

    input {
      z-index: 10;
      width: 1ch;
      min-width: 1ch;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: rgb(248, 249, 250);
      outline: 0;
      transition: color, filter 0.2s ease-in-out;
      -moz-appearance: textfield;
      -webkit-touch-callout: none;

      @media (max-height: 380px) {
        font-size: 36px;
      }

      &.life {
        width: 2ch;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &.empty {
        opacity: 0.33;
      }

      &::placeholder {
        font-size: 28px;
      }
    }

    .increase, .decrease, .reset {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 20px;
      border: 0;
      background-color: transparent;
      font-family: $counter-font;
      font-size: 20px;
      color: rgb(68, 70, 76);
      transition: all 0.2s ease-in-out;
      user-select: none;
      -webkit-touch-callout: none;
    }

    .increase {
      right: 0;
      justify-content: flex-end;

      &:active {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
      }
    }

    .decrease, .reset {
      left: 0;
      justify-content: flex-start;

      &:active {
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
      }
    }

    &#storm input {
      color: #FFC544;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px #FFC544);
      }
    }

    &#colourless {

      input {
        color: $mana-colourless-bg;
      }

      &.active {
        background-color: $mana-colourless-bg;

        input {
          color: $mana-colourless-fg;
        }
      }
    }

    &#black {

      input {
        color: $mana-black-bg;
      }

      &.active {
        background-color: $mana-black-bg;

        input {
          color: $mana-black-fg;
        }
      }
    }

    &#red {

      input {
        color: $mana-red-bg;
      }

      &.active {
        background-color: $mana-red-bg;

        input {
          color: $mana-red-fg;
        }
      }
    }

    &#green {

      input {
        color: $mana-green-bg;
      }

      &.active {
        background-color: $mana-green-bg;

        input {
          color: $mana-green-fg;
        }
      }
    }

    &#foundry1, &#foundry2, &#foundry3, &#foundry4 {

      &.can-golem {
        background-color: rgb(238, 239, 240);

        input {
          color: rgb(38, 40, 46);
        }
      }

      .decrease {
        font-size: 14px;
      }
    }

    &#prowess input {
      color: $mana-red-fg;
      pointer-events: none;

      &:not(.empty) {
        filter: drop-shadow(0 0 12px $mana-red-fg);
      }
    }
  }

  #kiln-counts input {
    width: 100%;
    user-select: none;
    -webkit-touch-callout: none;
  }
}
