@import '../global/mixins';

$white: rgb(255, 255, 255);
$grey: rgb(133, 133, 133);
$charcoal: rgb(66, 60, 60);
$black: rgb(0, 0, 0);

body {
  background-color: rgb(246, 197, 182);
}

header,
footer {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  height: 10vh;
  width: 100%;
  padding: 0 5vh;

  > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  h1,
  h2,
  p {
    display: inline-block;
    margin: 0;

    &:first-child {
      flex-grow: 1;
      margin-right: 20px;
    }
  }

  a {
    border-bottom-color: rgba($black, 0.1);

    &:hover {
      border-bottom-color: rgba($black, 0.33);
    }
  }
}

header {
  top: 0;

  h1 {
    font-size: 14px;
    line-height: 1.4em;
  }

  h2 {
    font-size: 12px;
  }
}

footer {
  bottom: 0;

  p {
    font-size: 14px;
  }
}

#double-exposure {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10vh;

  #double-exposure-outer {
    position: relative;
    max-width: 80vh;
    max-height: 80vh;
    margin: 0 auto;
    perspective: 2000px;

    &:hover #double-exposure-wrapper,
    &:hover #gloss,
    &:hover img {
      transition-duration: 0.05s;
    }
  }

  #double-exposure-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 80vw;
    max-height: 80vw;
    box-shadow: 0 40px 100px rgba($black, 0.1), 0 10px 10px rgba($black, 0.05);
    background-color: $white;
  }

  #double-exposure-wrapper,
  img {
    transition: transform ease 0.33s;
    will-change: transform;
    border-radius: 15px;
  }

  #base {
    position: relative;
    z-index: 1;
  }

  figure {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include prefix(mask-image, url('/dede/mask@2x.png'));
    @include prefix(mask-position, center center);
    @include prefix(mask-repeat, no-repeat);
    @include prefix(mask-size, cover);
    @include prefix(mix-blend-mode, screen);
  }

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
  }

  #exposure {
    z-index: 1;
    @include prefix(mix-blend-mode, screen);
  }

  #depth-1,
  #depth-2,
  #depth-3,
  #depth-4 {
    z-index: 2;
    @include prefix(mix-blend-mode, screen);
  }

  #gloss {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    background-image: linear-gradient(0deg, rgba($white, 0), rgba($white, 0.25));
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    opacity: 0;
    transition: opacity ease 0.33s;
  }

  &.second {
    background-color: rgb(255, 237, 182);

    figure {
      @include prefix(mask-image, url('/dede/2/mask@2x.png'));
    }
  }
}


.dede-why {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(229, 255, 193);

  section {
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    padding: 60px 30px;
    margin: 0 auto;

    header {
      position: relative;
      padding: 0;
    }

    code {
      background-color: rgba($grey, 0.33);
      font-family: inherit;
      white-space: nowrap;
    }

    a {
      border-bottom-color: rgba($grey, 0.33);

      &:hover {
        border-bottom-color: rgba($grey, 0.66);
      }
    }
  }
}



@media (min-width: 650px) {

  header h1 br {
    display: none;
  }
}

@media (max-width: 650px) {

  header,
  footer {
    padding: 0 2vh;
  }

  header {
    padding-top: 30px;

    > * {
      align-items: flex-start;
    }

    h1 {
      margin-bottom: 10px;
    }
  }

  footer {
    padding-bottom: 30px;

    > * {
      align-items: flex-end;
    }

    a span {
      display: none;
    }
  }

  #double-exposure {
    padding: 2vh;

    #double-exposure-outer {
      position: relative;
      max-width: 96vh;
      max-height: 96vh;
    }

    #double-exposure-wrapper {
      max-width: 96vw;
      max-height: 96vw;
    }
  }
}

@media (hover: none) {

  #double-exposure {

    #double-exposure-outer {

      #double-exposure-wrapper,
      img {
        transition-duration: 0.05s;
      }
    }

    #gloss {
      display: none;
    }
  }
}

@supports not ((mask-size: cover) or (mix-blend-mode: screen) or (-webkit-mask-size: cover) or (-webkit-mix-blend-mode: screen)) {

  #double-exposure-wrapper {
    background-image: url('/dede/backup@2x.jpg');
    background-size: cover;

    &::before {
      content: 'Unfortunately, your browser doesn\'t yet support the CSS properties used for this experiment';
      position: absolute;
      display: block;
      padding: 10px 15px;
      margin: 15px;
      border-radius: 5px;
      background-color: rgba($white, 0.66);
    }

    .second & {
      background-image: url('/dede/2/backup@2x.jpg');
    }

    img {
      visibility: hidden;
    }

    figure,
    #gloss {
      display: none;
    }
  }
}
