@import '../global/mixins';

$font: monospace;
$page-padding: 40px;

$white: rgb(255, 255, 255);
$charcoal: rgb(66, 60, 60);

body {
  background-color: $white;
  color: $charcoal;
}

#double-exposure {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 10vh;

  #double-exposure-outer {
    position: relative;
    max-width: 80vh;
    max-height: 80vh;
    margin: 0 auto;
    perspective: 2000px;

    &:hover #double-exposure-wrapper,
    &:hover img {
      transition-duration: 0.05s;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-image: radial-gradient(circle closest-side at center, rgba(0,0,0,0.66), rgba(0,0,0,0));
      border-radius: 50%;
    }
  }

  #double-exposure-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 80vw;
    max-height: 80vw;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }

  #double-exposure-wrapper,
  img {
    transition: transform ease 0.33s;
  }

  #base {
    position: relative;
    z-index: 1;
  }

  figure {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: url('/double-exposure/mask.png');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: cover;
    mix-blend-mode: screen;
  }

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
  }

  #exposure {
    z-index: 1;
    mix-blend-mode: screen;
  }

  #bokeh-1,
  #bokeh-2,
  #bokeh-3,
  #bokeh-4 {
    z-index: 2;
    mix-blend-mode: screen;
  }

  // $gloss-shadow-size: 500px;
  //
  // #gloss,
  // #shadow {
  //   position: absolute;
  // }
  //
  // #gloss {
  //   top: $gloss-shadow-size / -2;
  //   left: $gloss-shadow-size / -2;
  //   width: $gloss-shadow-size;
  //   height: $gloss-shadow-size;
  //   background-image: radial-gradient(circle closest-side at center, rgba(255,255,255,1), rgba(255,255,255,0));
  //   opacity: 0.66;
  //   mix-blend-mode: soft-light;
  // }

  // #shadow {
  //   // top: calc(100% - #{$gloss-shadow-size / -2});
  //   // left: calc(100% - #{$gloss-shadow-size / -2});
  //   top: calc(100% - #{$gloss-shadow-size / -2});
  //   left: calc(100% - #{$gloss-shadow-size / -2});
  //   width: $gloss-shadow-size;
  //   height: $gloss-shadow-size;
  //   z-index: -1;
  //   background-image: radial-gradient(circle closest-side at center, rgba(0,0,0,1), rgba(0,0,0,0));
  // }
}
