@import '../global/vars';
@import '../global/mixins';

body {
  height: 100vh;
  overflow-y: hidden;

  &::before, &::after {
    display: none;
  }
}

svg.logo {

  path.script {
    stroke: #FFFFFF;

    &:hover path.script {
      stroke-dashoffset: 0;
    }
  }
}

header.page-header {
  z-index: 3;
  bottom: auto;
  width: auto;
  mix-blend-mode: difference;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  &.hijacked {
    overflow-x: hidden;
  }

  figure {
    position: relative;
    height: 100%;
    @include prefix(animation, fade-in 1s ease-out 1);
    @include prefix(animation-delay, 3s);
    @include prefix(animation-fill-mode, backwards);

    &:nth-of-type(1) {
      z-index: 2;
      @include prefix(animation-delay, 2.33s);
    }

    &:nth-of-type(2) {
      @include prefix(animation-delay, 2.66s);
    }
  }

  img {
    width: auto;
    height: 100%;
  }

  figcaption {
    position: sticky;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: $page-padding;
    font-family: $font;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(248, 249, 250);
    @include transition;

    &::before {
      content: '';
      position: relative;
      top: -1px;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      border-bottom-right-radius: 0;
      border: 1px solid #FFFFFF;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 0;
    }
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@media (orientation: portrait), (max-width: 600px) and (max-height: 600px) {

  body {
    height: auto;
    overflow-y: auto;
  }

  .photo-gallery {
    flex-direction: column;
    height: auto;

    figure {
      width: 100%;
      height: auto;
      @include prefix(animation, none);
    }

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      position: absolute;
      padding: $page-padding / 2;
      font-size: 1.2rem;

      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: 1750px) {

  header.page-header {
    left: 0;
  }
}

@media (max-width: 1024px) {

  header.page-header {
    position: fixed;
    width: $header-width;
  }
}
