@import '../global/colors';
@import '../global/vars';
@import '../global/mixins';

body {
  height: 100vh;
  background: $charcoal;
  font-size: 0;
}

svg.logo {

  path.script {
    stroke: $white;
  }

  &:hover path.script {
    stroke-dashoffset: 0;
  }
}

header.page-header {
  z-index: 4;
  mix-blend-mode: exclusion;
}

a.photo-insta-link {
  position: fixed;
  z-index: 4;
  top: $page-padding;
  right: $page-padding;
  font-size: 13px;
  line-height: 1.6em;
  mix-blend-mode: exclusion;
}

figure.photo-gallery {
  @include flex($property: inline-flex);
  @include prefix(flex-direction, row);
  height: 100vh;

  img {
    position: relative;
    z-index: 3;
    @include prefix(flex-shrink, 0);
    width: auto;
    height: 100%;
    pointer-events: none;

    &:nth-of-type(1) {
      z-index: 1;
    }
  }
}

.horz-scroll-indicator {
  position: fixed;
  z-index: 2;
  top: $page-padding;
  left: 50%;
  @include prefix(transform, translateX(-50%));
  font-size: 13px;
  line-height: 1.6em;
  color: $white;
  mix-blend-mode: exclusion;

  &::after {
    content: '\2192';
    position: relative;
    margin-left: 5px;
    @include prefix(animation, scroll-indicator 1.66s ease-in-out infinite);
  }
}

@include keyframes(scroll-indicator) {
  0% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

@media (orientation: portrait), (max-width: 600px) and (max-height: 600px) {

  body {
    height: auto;
  }

  figure.photo-gallery {
    @include prefix(flex-direction, column);
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .horz-scroll-indicator {
    display: none;
  }
}

@media (min-width: 1750px) {

  header.page-header {
    left: 0;
  }
}

@media (max-width: 1260px) and (min-width: 1024px) {

  header.page-header {
    width: $header-width;
  }
}

@media (max-width: 1024px) {

  header.page-header {
    position: fixed;
    width: $header-width;
    padding-right: 0;
  }
}

@media (max-width: 550px) {

  header.page-header {
    padding: $page-padding;
  }
}
