@import '../global/colors';
@import '../global/vars';
@import '../global/mixins';

body {
  height: 100vh;
  overflow-y: hidden;
  background: $charcoal;
  font-size: 0;

  &::before, &::after {
    display: none;
  }
}

svg.logo {

  path.script {
    stroke: $white;
  }
}

header.page-header {
  z-index: 2;
  mix-blend-mode: difference;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  &.hijacked {
    overflow-x: hidden;
  }

  figure {
    position: relative;
    width: auto;
    height: 100%;
  }

  img {
    width: auto;
    height: 100%;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $page-padding;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;
    mix-blend-mode: difference;
    @include transition;

    &:hover {
      opacity: 0;
    }
  }
}

@media (orientation: portrait), (max-width: 600px) and (max-height: 600px) {

  body {
    height: auto;
    overflow-y: auto;
  }

  .photo-gallery {
    flex-direction: column;
    height: auto;

    figure, img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 1750px) {

  header.page-header {
    left: 0;
  }
}

@media (max-width: 1024px) {

  header.page-header {
    position: fixed;
    width: $header-width;
  }
}
