@import '../global/colors';
@import '../global/vars';
@import '../global/mixins';

body {
  height: 100vh;
  overflow-y: hidden;
  background: $charcoal-dark;

  &::before, &::after {
    display: none;
  }
}

svg.logo {

  path.script {
    stroke: $white;
  }
}

header.page-header {
  z-index: 2;
  bottom: auto;
  width: auto;
  mix-blend-mode: difference;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  &.hijacked {
    overflow-x: hidden;
  }

  figure {
    position: relative;
    width: auto;
    height: 100%;
  }

  img {
    width: auto;
    height: 100%;
  }

  figcaption {
    position: sticky;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: $page-padding;
    font-family: $font;
    font-weight: 700;
    font-size: 1.4rem;
    color: $white;
    mix-blend-mode: exclusion;
    @include transition;

    &::before {
      content: '';
      position: relative;
      top: -1px;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      border-bottom-right-radius: 0;
      border: 1px solid $white;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 0;
    }
  }
}

@media (orientation: portrait), (max-width: 600px) and (max-height: 600px) {

  body {
    height: auto;
    overflow-y: auto;
  }

  .photo-gallery {
    flex-direction: column;
    height: auto;

    figure, img {
      width: 100%;
      height: auto;
    }

    figcaption {
      position: absolute;
      padding: $page-padding / 2;
    }
  }
}

@media (min-width: 1750px) {

  header.page-header {
    left: 0;
  }
}

@media (max-width: 1024px) {

  header.page-header {
    position: fixed;
    width: $header-width;
  }
}
