@import '../global/mixins';

$font: monospace;
$page-padding: 40px;
$radius: 3px;

$yellowed-page: rgb(250, 250, 247);
$white-page: rgb(252, 252, 251);
$white: rgb(255, 255, 255);
$type: rgb(66, 60, 60);
$faded-type: rgb(106, 100, 100);

body {
  background-color: $yellowed-page;
  text-shadow: 1px 1px $white;
  color: $type;
  counter-reset: page chapter;
}

h1 {
  font-family: "freight-display-pro", monospace;
  font-weight: 100;
  font-size: 6.4rem;
}

p {
  font-family: "freight-text-pro", monospace;
  font-size: 1.6rem;
  line-height: 1.6em;
}

small {
  font-family: "freight-micro-pro", monospace;
  font-size: 1.1rem;
}

hr {
  margin: 3em 0;
}

#stories {
  display: block;
  padding: $page-padding;
}

.page {
  box-sizing: border-box;
  display: block;
  max-width: 720px;
  padding: ($page-padding * 2) ($page-padding * 3);
  margin: 0 auto;
  border-radius: $radius;
  background-color: $white-page;
  @include prefix(box-shadow, 0 0 20px rgba(0, 0, 0, 0.02), 0 2px 2px rgba(0, 0, 0, 0.033));
  counter-increment: page;

  &.page-animate {
    @include prefix(animation, slide-in 2s ease 1);
    @include prefix(animation-delay, 2s);
    @include prefix(animation-fill-mode, backwards);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  + .page {
    margin-top: $page-padding;
  }

  header {

    p {
      @include flex;
      margin-top: 0;
      font-size: 1.3rem;
      color: $faded-type;

      *:last-child {
        @include prefix(flex-grow, 1);
        text-align: right;
      }
    }

    small {
      margin-right: 6.66em;
      letter-spacing: 0.1em;
    }
  }

  p:not(:first-of-type)::first-letter {
    margin-left: 1.5em;
  }

  footer {
    text-align: center;
    color: $faded-type;

    .page-number::before {
      content: counter(page);
    }
  }
}

.title-page {
  box-sizing: border-box;
  @include flex;
  @include prefix(align-items, center);
  min-height: calc(100vh - 180px);
  padding: $page-padding;
  text-align: center;

  .title-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    h1,
    hr,
    p {
      @include prefix(animation, slide-and-scale 2.33s ease 1);
      @include prefix(animation-fill-mode, backwards);
    }

    h1 {
      margin: 0;
      @include prefix(animation-delay, 0.6s);
    }

    hr {
      margin: 4em 0;
      @include prefix(animation-delay, 0.8s);

      &::before {
        content: '~';
        position: relative;
        top: -0.43em;
        padding: 0 0.33em;
        background-color: $yellowed-page;
        font-size: 2.4rem;
      }
    }

    p {
      @include prefix(animation-delay, 1.1s);
    }
  }
}



@include keyframes(slide-in) {

  0% {
    opacity: 0;
    @include prefix(transform, translateY(50px));
  }

  100% {
    opacity: 1;
    @include prefix(transform, none);
  }
}

@include keyframes(slide-and-scale) {

  0% {
    opacity: 0;
    @include prefix(transform, translateY(50px) scale(0.96));
  }

  100% {
    opacity: 1;
    @include prefix(transform, none);
  }
}



@media (max-width: 768px) {

  h1 {
    font-size: 4.6rem;
  }

  #stories {
    padding: 0;
  }

  .page {
    padding: $page-padding;
    border-radius: 0;
    @include prefix(box-shadow, none);

    &:not(:first-child) {
      margin-top: 0;
      border-top: 1px solid $faded-type;
    }
  }

  .end-page {
    display: none;
  }
}

@media (max-width: 420px) {

  h1 {
    font-size: 4rem;
  }

  .page,
  .title-page {
    padding-right: $page-padding / 2;
    padding-left: $page-padding / 2;
  }
}
