$black: rgb(0, 0, 0);
$charcoal-dark: rgb(35, 33, 40);
$charcoal: rgb(38, 40, 46);
$charcoal-light: rgb(68, 70, 76);
$grey-dark: rgb(100, 105, 115);
$grey: rgb(190, 192, 205);
$grey-light: rgb(235, 238, 243);
$off-white: rgb(248, 249, 250);
$white: rgb(255, 255, 255);

// $b: #23211F; // rgb(35, 33, 31)
// $b-esc: "%2323211F";
//
// $g: #76726F; // rgb(118, 114, 111)
// $g-esc: "%2376726F";
//
// $w: #C8C3BE; // rgb(200, 195, 190)
// $w-esc: "%23C8C3BE";

$b: #23211F; // rgb(35, 33, 31)
$b-esc: "%2323211F";

$g: #A29D99; // rgb(118, 114, 111)
$g-esc: "%23A29D99";

$g-dark: #76726F; // rgb(118, 114, 111)
$g-dark-esc: "%2376726F";

$w: #EFEDEA; // rgb(200, 195, 190)
$w-esc: "%23EFEDEA";

$w-dark: #C8C3BE; // rgb(200, 195, 190)
$w-dark-esc: "%23C8C3BE";
