$black: rgb(0, 0, 0);
$charcoal-dark: rgb(35, 33, 40);
$charcoal: rgb(38, 40, 46);
$grey-dark: rgb(100, 105, 115);
$grey: rgb(190, 192, 205);
$grey-light: rgb(235, 238, 243);
$off-white: rgb(248, 249, 250);
$white: rgb(255, 255, 255);
