::selection {
  background-color: $charcoal;
  text-shadow: none;
  color: $white;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background-color: $off-white;
  background-image: url("data:image/svg+xml;utf8,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%23BEC0CD\" fill-rule=\"evenodd\"/></svg>");
  background-attachment: fixed;
  font-family: $font;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.33em;
  color: $charcoal;
  @include font-antialias;
  -webkit-tap-highlight-color: transparent;

  &::before, &::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
  }

  &::before {
    width: 440px;
    height: 440px;
    background-image: url("data:image/svg+xml;utf8,<svg width=\"8\" height=\"8\" viewBox=\"0 0 8 8\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%23BEC0CD\" fill-rule=\"evenodd\"/></svg>");

    @media (max-width: $mobile-media) {
      width: 320px;
      height: 320px;
    }
  }

  &::after {
    width: 170px;
    height: 170px;
    background-image: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%23BEC0CD\" fill-rule=\"evenodd\"/></svg>");

    @media (max-width: $mobile-media) {
      width: 150px;
      height: 150px;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $charcoal-dark;
    background-image: url("data:image/svg+xml;utf8,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%2344464C\" fill-rule=\"evenodd\"/></svg>");

    &::before {
      background-image: url("data:image/svg+xml;utf8,<svg width=\"8\" height=\"8\" viewBox=\"0 0 8 8\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%2344464C\" fill-rule=\"evenodd\"/></svg>");
    }

    &::after {
      background-image: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0,0h1v1H0z\" fill=\"%2344464C\" fill-rule=\"evenodd\"/></svg>");
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-family: $font;
  font-weight: 800;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p,
article ol,
article ul,
.content-panel-header ul,
article td
 {
  margin: 1.5em 0;
  font-family: $font;
  font-size: 1.4rem;
}

article ol,
article ul,
.content-panel-header ul
 {
  padding-left: 2em;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  @include transition;
}

a {
  color: inherit;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
p > a,
ol > a,
ul > a,
.underline-link {
  border-bottom: 2px solid $grey-light;

  &:focus {
    transition: none;
    border-bottom: 0;
    background-color: rgba($charcoal, 0.2);
  }

  &:hover {
    border-bottom-color: $grey;

    + .rarr:not(.noanim) {
      width: 12px;
    }
  }
}

ul ul {
  list-style-type: circle;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 2em 0;
  border: 0;
  @include dotted-line;

  &.white-line {
    @include dotted-line($color: $white);
  }

  &.black-line {
    @include dotted-line($color: $charcoal);
  }
}

figure {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
