.white-text {
  color: $white;

  a {
    border-bottom-color: rgba($white, 0.33);

    &:hover {
      border-bottom-color: $white;
    }
  }
}

.translucent {
  opacity: 0.66;
}

.grey-dark-text {
  color: $grey-dark;
}

.column-list {
  padding: 0;
  @include prefix(columns, 3);
  list-style-type: none;

  @media (max-width: $mobile-media) {
    @include prefix(columns, 2);
  }

  li {
    margin: 0;
  }
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  background-color: $grey-light;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;

    @media (max-width: $mobile-media) {
      border-radius: 0;
    }
  }

  + img {
    margin-top: $page-padding / 2;

    @media (max-width: $mobile-media) {
      margin-top: 0;
    }
  }
}
