@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

::selection {
  background-color: var(--c);
  text-shadow: none;
  color: var(--a);
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background-color: var(--a);
  background-image: var(--grid-16);
  font-family: $font;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.33em;
  color: var(--c);
  @include font-antialias;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $small-media) {
    background-attachment: fixed;
  }

  &::before,
  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;

    @media (max-width: $small-media) {
      position: absolute;
    }
  }

  &::before {
    width: 440px;
    height: 440px;
    background-image: var(--grid-8);
    animation: 6s ease-in-out infinite alternate background-wobble-1;

    @keyframes background-wobble-1 {
      from {
        width: 440px;
        height: 440px;
      }
      to {
        width: 600px;
        height: 600px;
      }
    }

    @media (max-width: $mobile-media) {
      width: 320px;
      height: 320px;

      @keyframes background-wobble-1 {
        from {
          width: 95vw;
          height: 95vw;
        }
        to {
          width: 100vw;
          height: 150vw;
        }
      }
    }
  }

  &::after {
    width: 170px;
    height: 170px;
    background-image: var(--grid-4);
    animation: 6s ease-in-out infinite alternate background-wobble-2;

    @keyframes background-wobble-2 {
      from {
        width: 170px;
        height: 170px;
      }
      to {
        width: 220px;
        height: 220px;
      }
    }

    @media (max-width: $mobile-media) {
      width: 150px;
      height: 150px;

      @keyframes background-wobble-2 {
        from {
          width: 120px;
          height: 120px;
        }
        to {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-family: $font;
  font-weight: 800;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p,
article ol,
article ul,
.content-panel-header ul,
article td {
  margin: 1.5em 0;
  font-family: $font;
  font-size: 1.4rem;
  line-height: 1.5em;

  &.large {
    font-size: 1.7rem;
    line-height: 1.6em;
  }
}

article ol,
article ul,
.content-panel-header ul {
  padding-left: 2em;
}

ul ul {
  list-style-type: circle;
}

a,
a:visited {
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration-style: solid;
  }
}

a {
  color: inherit;
}

p a:not([tabindex="-1"]):focus,
h1 a:focus {
  background-color: var(--c);
  color: var(--a);
  text-decoration: none;
  text-shadow: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: $page-padding 0;
  border: 0;
  background-image: var(--grid-8);

  &.spacer {
    margin: ($page-padding * 2) 0;
  }
}

figure {
  padding: 0;
  margin: 0;

  figcaption p {
    margin-bottom: 0;
    text-align: center;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.translucent {
  opacity: 0.75;
}

.column-list {
  padding: 0;
  @include prefix(columns, 3);
  list-style-type: none;

  @media (max-width: $mobile-media) {
    @include prefix(columns, 2);
  }

  li {
    margin: 0;
  }
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  background-color: var(--b);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;

    @media (max-width: $mobile-media) {
      border-radius: 0;
    }
  }

  + img {
    margin-top: $page-padding / 2;

    @media (max-width: $mobile-media) {
      margin-top: 0;
    }
  }
}
