@mixin prefix($property, $values...) {
  -webkit-#{$property}: $values;
  -moz-#{$property}: $values;
  -ms-#{$property}: $values;
  #{$property}: $values;
}

@mixin font-antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transition($property: all, $duration: 0.33s, $timing: cubic-bezier(0.19, 1, 0.22, 1)) {
  transition: $property $duration $timing;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
