$font: monospace;
$page-padding: 40px;
$header-width: 270px;
$content-width: 700px;
$content-sidebar-width: 360px;
$radius: 2px;

$oversize-media: 1750px;
$large-media: 1260px;
$medium-media: 1024px;
$small-media: 800px;
$mobile-media: 550px;
