$font: monospace;
$page-padding: 40px;
$header-width: 270px;
$content-width: 700px;
$content-sidebar-width: 360px;
$radius: 2px;

$large-breakpoint: 1260px;
$medium-breakpoint: 1024px;
$vertical-breakpoint: 800px;
$small-breakpoint: 550px;
