$font: -apple-system, BlinkMacSystemFont, Inter, system-ui, sans-serif;
$page-padding: 40px;
$header-width: 280px;
$content-width: 700px;
$content-sidebar-width: 360px;

$oversize-media: 1780px;
$large-media: 1260px;
$medium-media: 1024px;
$small-media: 800px;
$mobile-media: 600px;

:root {
  --a: #EFEDEA;
  --b: #A29D99;
  --c: #23211F;

  --dither-2: url("data:image/svg+xml;utf8,<svg width=\"2\" height=\"2\" viewBox=\"0 0 2 2\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/><rect x=\"1\" y=\"1\" width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");
  --dither-4: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/><rect x=\"2\" y=\"2\" width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");
  --dither-6: url("data:image/svg+xml;utf8,<svg width=\"6\" height=\"6\" viewBox=\"0 0 6 6\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/><rect x=\"3\" y=\"3\" width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");
  --grid-4: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");
  --grid-8: url("data:image/svg+xml;utf8,<svg width=\"8\" height=\"8\" viewBox=\"0 0 8 8\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");
  --grid-16: url("data:image/svg+xml;utf8,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23A29D99\"/></svg>");

  --text-outline: 1px 1px 0 var(--a), -1px 1px 0 var(--a), 1px -1px 0 var(--a), -1px -1px 0 var(--a);

  --rad-s: 2px;
  --rad-m: 5px;
  --rad-l: 8px;

  @media (prefers-color-scheme: dark) {
    --a: #23211F;
    --b: #635F5C;
    --c: #D0C8C2;

    --dither-2: url("data:image/svg+xml;utf8,<svg width=\"2\" height=\"2\" viewBox=\"0 0 2 2\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/><rect x=\"1\" y=\"1\" width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
    --dither-4: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/><rect x=\"2\" y=\"2\" width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
    --dither-6: url("data:image/svg+xml;utf8,<svg width=\"6\" height=\"6\" viewBox=\"0 0 6 6\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/><rect x=\"3\" y=\"3\" width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
    --grid-4: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
    --grid-8: url("data:image/svg+xml;utf8,<svg width=\"8\" height=\"8\" viewBox=\"0 0 8 8\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
    --grid-16: url("data:image/svg+xml;utf8,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"1\" height=\"1\" fill=\"%23635F5C\"/></svg>");
  }
}
