.content-panel.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;

  @media (max-width: $large-media) and (min-width: $mobile-media) {
    margin-top: $page-padding;
  }

  @media (max-width: $mobile-media) {
    padding: 30px 20px;
  }

  p {
    margin: 0;
  }
}
