$banner-height: 50px;

.content-panel.banner {
  @include flex;
  @include prefix(align-items, center);
  @include prefix(justify-content, center);
  min-height: $banner-height;
  padding: 15px 25px;
  background-color: $orange;
  box-shadow: none;

  .night-mode & {
    background-color: $orange-night;
  }

  @media (max-width: $mobile-media) {
    padding: 30px 20px;
  }

  @media (min-height: 780px) and (max-height: 1010px) {
    + .content-panel {
      min-height: calc(100vh - #{$page-padding} * 4 - #{$banner-height});
    }
  }

  p {
    margin: 0;
    color: $orange-dark;
  }

  a {
    border-bottom-color: rgba($orange-dark, 0.33);

    &:hover {
      border-bottom-color: rgba($orange-dark, 0.66);
    }
  }
}
