.button,
[class^="button-"],
[class*=" button-"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 1em;
  border: 0;
  border-radius: $radius * 2;
  background-color: $grey-light;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1em;
  text-align: center;
  color: $grey-dark;
  @include font-antialias;
  outline: none;
  cursor: pointer;
  @include prefix(appearance, none);
  @include transition;
  transition-property: color, background-color;

  @media (max-width: $mobile-media) {
    width: 100%;
    font-size: 1.3rem;
  }

  + .button,
  + [class^="button-"],
  + [class*=" button-"] {
    margin-left: 0.5em;

    @media (max-width: $mobile-media) {
      margin-top: 0.5em;
      margin-left: 0;
    }
  }

  &:focus,
  &:hover {
    background-color: $off-white;
    text-decoration: underline;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba($charcoal, 0.33);
  }

  &.button-full {
    width: 100%;
  }

  &.button-black {
    background-color: $charcoal;
    color: $white;

    &:focus,
    &:hover {
      color: $grey-light;
    }
  }

  &.button-white {
    background-color: $white;
    color: $charcoal;

    &:focus,
    &:hover {
      background-color: $grey-light;
    }
  }
}

.btn-wrapper {
  margin-top: -0.5em;
  margin-right: -0.5em;

  > .button,
  > [class^="button-"],
  > [class*=" button-"] {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0;
  }
}
