.button,
[class^="button-"],
[class*=" button-"] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em 1.2em;
  border: 1px solid var(--b);
  border-radius: var(--rad-m);
  background-color: var(--a);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.01em;
  text-align: center;
  text-decoration: none;
  color: var(--c);
  @include font-antialias;
  outline: none;
  cursor: pointer;
  @include prefix(appearance, none);

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: var(--dither-2);
    @include transition;
  }

  @media (max-width: $mobile-media) {
    width: 100%;
    font-size: 1.3rem;
  }

  + .button,
  + [class^="button-"],
  + [class*=" button-"] {
    margin-left: 0.5em;

    @media (max-width: $mobile-media) {
      margin-top: 0.5em;
      margin-left: 0;
    }
  }

  &:hover::before {
    top: 6px;
    left: 6px;
  }

  &:focus {
    text-decoration: underline;
  }

  &.button-full {
    width: 100%;
  }
}

.btn-wrapper {
  margin-top: -1em;
  margin-right: -1em;

  > .button,
  > [class^="button-"],
  > [class*=" button-"] {
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 0;
  }
}
