.content-panels {
  box-sizing: border-box;
  width: calc(100vw - #{$header-width});
  max-width: $page-padding * 4 + $content-sidebar-width + $content-width;
  padding: $page-padding;
  margin-left: $header-width;
  font-size: 0;

  @media (min-width: $oversize-media) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $large-media) and (min-width: $medium-media) {
    padding-left: $page-padding / 2;
    padding-right: $page-padding / 2;
  }

  @media (max-width: $medium-media) {
    width: 100%;
    max-width: none;
    padding-top: 0;
    margin-left: 0;
  }

  @media (max-width: $small-media) {
      padding-left: $page-padding / 2;
      padding-right: $page-padding / 2;
    }

  @media (max-width: $mobile-media) {
    padding: 0;
  }

  // 404 text
  > p {

    @media (max-width: $mobile-media) {
      padding-left: $page-padding / 2;
      padding-right: $page-padding / 2;
    }

    @media (prefers-color-scheme: dark) {
      color: $w-dark;
    }
  }
}

.content-panel {
  @include flex;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 65vw;
  margin-bottom: $page-padding;
  border-radius: $radius;
  background-color: $w;
  // box-shadow: $card-shadow;
  font-size: 0;
  @include transition($property: background-color);

  //TODO tidy
  // border: 3px solid $w;
  // border-radius: $radius-l;
  border: 1px solid $g;
  border-radius: 8px;
  // border-radius: 0;
  // border-width: 12px;
  // border-image-source: url("data:image/svg+xml;utf8,<svg width=\"4\" height=\"4\" viewBox=\"0 0 4 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M0 0H1V1H0V0Z\" fill=\"%2376726F\"/><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M2 2H3V3H2V2Z\" fill=\"%2376726F\"/></svg>");
  // border-image-outset: 0;
  // border-image-repeat: repeat;
  // border-image-width: 4px;

  @media (prefers-color-scheme: dark) {
    background-color: $b;
    border-color: $g-dark;
  }


  @media (min-width: $large-media) {
    min-height: 800px;

    // &:first-of-type {
    //   min-height: calc(100vh - #{$page-padding} * 3);
    // }
  }

  @media (max-width: $large-media) and (min-width: $medium-media) {

    &:not(.content-panel-small) {

      .content-panel-header {
        width: $content-sidebar-width - $page-padding * 2;
        padding-right: $page-padding / 2;
      }

      figure {
        padding-right: $page-padding / 2;
        padding-left: $page-padding / 2;
      }
    }
  }

  @media (max-width: $small-media) {
    @include prefix(flex-direction, column);
    min-height: 0;
  }

  @media (max-width: $mobile-media) {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }

  @media (prefers-reduced-motion: no-preference) {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      @include prefix(animation, fade-in 1s ease-out 1);
      @include prefix(animation-fill-mode, both);
    }

    &:nth-child(1) {
      @include prefix(animation-delay, 0.15s);
    }

    &:nth-child(2) {
      @include prefix(animation-delay, 0.3s);
    }

    &:nth-child(3) {
      @include prefix(animation-delay, 0.45s);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .content-panel-header,
  figure {
    box-sizing: border-box;
    padding: $page-padding;

    @media (max-width: $mobile-media) {
      padding-right: $page-padding / 2;
      padding-left: $page-padding / 2;
    }
  }

  .content-panel-header {
    width: $content-sidebar-width;
    @include prefix(flex-shrink, 0);

    @media (max-width: $small-media) {
      width: 100%;
    }
  }

  figure {
    width: 100%;

    &:empty {
      padding: 0;
    }
  }

  .image-gallery {

    @media (max-width: $mobile-media) {
      max-width: 100%;
      padding: 0;
    }

    img,
    video {
      display: block;
      max-width: 100%;
      background-color: $g;

      &:not(.iphone-frame) {
        border-radius: $radius;
      }

      @media (max-width: $mobile-media) {
        margin: 0;
        box-shadow: none;
      }

      + img {
        margin-top: $page-padding / 2;

        @media (max-width: $mobile-media) {
          margin-top: 0;
        }
      }
    }

    a:focus img {
      box-shadow: 0 0 0 4px rgba($b, 0.33);

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 0 4px rgba(white, 0.33);
      }
    }

  }

  h1 {
    margin-top: 0.5rem;
  }

  h1 > a {

    &[href^="#"] {
      border-bottom: 0;

      &::before {
        content: '';
        display: block;
        visibility: hidden;
        height: $page-padding * 3.25;
        margin-top: $page-padding * -3.25;
        pointer-events: none;
      }
    }
  }
}

.content-panel-small {
  @include flex(inline-flex);
  width: calc(50% - #{$page-padding / 2});
  min-height: 0;

  @media (max-width: $large-media) {
    width: calc(50% - #{$page-padding / 4});
  }

  @media (max-width: $small-media) {
    width: 100%;
  }

  @media (max-width: $mobile-media) {

    + .content-panel-small {
      border-top: 1px solid $w;

      @media (prefers-color-scheme: dark) {
        border-top-color: $b;
      }
    }
  }

  + .content-panel-small {
    margin-left: $page-padding;

    @media (max-width: $large-media) {
      margin-left: $page-padding / 2;
    }

    @media (max-width: $small-media) {
      margin-left: 0;
    }
  }

  .content-panel-header {
    width: 100%;
  }
}

@keyframes(fade-in) {
  0% {
    opacity: 0;
    @include prefix(transform, translateY(10px) scale(0.98));
  }

  100% {
    opacity: 1;
    @include prefix(transform, none);
  }
}
