.content-full {
  max-width: $content-width;
  margin-top: $page-padding;

  @media (max-width: $medium-media) {
    max-width: none;
  }

  @media (max-width: $mobile-media) {
    margin-top: 0;

    h2,
    h3,
    p,
    ol,
    ul {
      margin-right: $page-padding / 2;
      margin-left: $page-padding / 2;
    }

    h2 {
      margin-top: $page-padding * 1.5;
    }

    p .button {
      width: 100%;
      margin: 5px 0;
    }
  }

  hr {
    margin: $page-padding * 2 0;

    @media (max-width: $mobile-media) {
      display: none;
    }
  }

  figure {
    margin-top: $page-padding;

    &:first-child {
      margin-top: 0;
    }

    img {
      border-radius: 2px;
      background-color: $grey-light;

      @media (max-width: $mobile-media) {
        border-radius: 0;
      }

      + img {
        margin-top: $page-padding / 2;

        @media (max-width: $mobile-media) {
          margin-top: 0;
        }
      }
    }

    &.half-tiles {

      img {
        display: inline-block;
        width: calc(50% - #{$page-padding / 4});

        @media (max-width: $mobile-media) {
          display: block;
          width: 100%;
        }

        &:nth-of-type(odd) {
          margin-right: $page-padding / 2;

          @media (max-width: $mobile-media) {
            margin-right: 0;
          }
        }
      }
    }
  }

  table {

    tr {
      border-bottom: 1px solid $grey-light;

      &:last-child {
        border-bottom: 0;
      }

      td {
        vertical-align: top;
        padding: $page-padding / 2;

        @media (max-width: $mobile-media) {
          display: block;
        }

        &:first-child {
          padding-left: 0;
          font-weight: 700;

          @media (max-width: $mobile-media) {
            padding-left: $page-padding / 2;
          }
        }

        &:last-child {
          padding-right: 0;

          @media (max-width: $mobile-media) {
            padding-right: $page-padding / 2;
          }
        }
      }
    }
  }
}
