.content-panel {

  &.content-panel-small,
  &.photo-collection-01-panel,
  &.ios86-panel,
  &.broadbeach-slsc-panel,
  &.tutorial-room-panel {

    .night-mode & {
      background-color: $charcoal;
      color: $grey;

      a {
        border-bottom-color: $grey-dark;

        &:hover {
          border-bottom-color: $grey;
        }
      }

      .grey-text {
        color: $grey-dark;
      }

      .button,
      .button-black {
        background-color: $grey-dark;
        color: $grey-light;

        &:hover {
          background-color: $grey;
          color: $white;
        }
      }
    }
  }

  &.dede-panel {
    background-color: $grey-light;
    background-image: url('/img/dede-bg@2x.jpg');
    background-position: 100% 0;
    background-size: cover;

    .content-panel-header {
      padding-bottom: 100px;
    }

    h1,
    p {
      text-shadow: 1px 1px rgba($white, 0.33);
    }

    a {
      border-bottom-color: $grey;

      &:hover {
        border-bottom-color: $grey-dark;
      }
    }
  }

  &.scrunchdotcom-panel {
    background-color: rgb(243, 243, 244);
    background-image: url('/img/scrunchdotcom-pattern-bg@2x.jpg');
    background-position: 0 0;
    background-size: 533px 574px;
    background-repeat: no-repeat;

    .landing-gif {
      @include prefix(column-span, all);
    }
  }

  &.scrunchapp-panel {
    background-color: rgb(243, 243, 244);
  }

  &.divvy-panel {
    background-color: rgb(30, 150, 255);

    .content-panel-header {
      background-color: rgb(50, 170, 255);
    }

    .night-mode & {
      background-color: rgb(34, 121, 198);

      .content-panel-header {
        background-color: rgb(50, 148, 217);
      }
    }

    figure {
      background-image: url('/img/divvy-bg@2x.png');
      background-size: 98px;
    }
  }

  &.sharedesk-panel {
    background-color: rgb(62, 42, 160);

    figure {
      padding: 0;
    }
  }

  &.threads-network-panel {
    background-color: rgb(242, 124, 97);
    background-image: url('/img/grunge-bg@2x.png');
    background-size: 400px;

    .night-mode & {
      background-color: rgb(200, 97, 73);
    }

    figure {

      img {
        max-width: 367px;
        margin: 95px auto;
      }
    }
  }

  &.ios86-panel {

    figure {
      background-image: url('/img/ios86-bg@2x.jpg');
      background-position: center;
      background-size: cover;
    }
  }

  &.sarif-panel {
    background-color: $grey-dark;
    background-image: url('/img/sarif-bg@2x.jpg');
    background-position: 75% 50%;
    background-size: cover;
  }

  &.axex-constructions-panel {
    background-color: $grey;
    background-image: url('/img/axex-bg@2x.jpg');
    background-position: center;
    background-size: cover;

    figure {

      img {
        max-width: 430px;
        margin: 125px auto;
      }
    }
  }
}
