.content-panel {

  &.content-panel-small,
  &.photo-collection-01-panel,
  &.ios86-panel {

    .night-mode & {
      background-color: $charcoal;
      color: $grey;

      a {
        border-bottom-color: $grey-dark;

        &:hover {
          border-bottom-color: $grey;
        }
      }

      .grey-text {
        color: $grey-dark;
      }

      .button,
      .button-black {
        background-color: $grey-dark;
        color: $grey-light;

        &:hover {
          background-color: $grey;
          color: $white;
        }
      }
    }
  }

  &.dede-panel {
    background-color: $grey-light;
    background-image: url('/img/dede-bg@2x.jpg');
    background-position: 100% 0;
    background-size: cover;

    .content-panel-header {
      padding-bottom: 100px;
    }

    h1,
    p {
      text-shadow: 1px 1px rgba($white, 0.33);
    }

    a {
      border-bottom-color: $grey;

      &:hover {
        border-bottom-color: $grey-dark;
      }
    }
  }

  &.attract-panel {
    background-color: rgb(255, 102, 111);

    .content-panel-header {
      background-color: $white;
    }

    figure {
      background-image: url('/img/attract-pattern@2x.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      img {
        box-shadow: 0 10px 33px rgb(220, 70, 110);
      }

      @media (max-width: $small-breakpoint) {

        img {
          border-top: 1px solid $grey-light;
          border-bottom: 1px solid $grey-light;
          box-shadow: none;

          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  &.scrunch-panel {
    background-image: url('/img/scrunch-pattern-bg@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 531px 504px;
  }

  &.divvy-panel {
    background-color: rgb(30, 150, 255);

    .content-panel-header {
      background-color: rgb(50, 170, 255);

      @media (max-width: $small-breakpoint) {
        background-color: rgb(30, 150, 255);
      }
    }

    // .night-mode & {
    //   background-color: rgb(34, 121, 198);
    //
    //   .content-panel-header {
    //     background-color: rgb(50, 148, 217);
    //
    //     @media (max-width: $small-breakpoint) {
    //       background-color: rgb(34, 121, 198);
    //     }
    //   }
    // }

    figure {
      position: relative;
      background-image: url('/img/divvy-bg@2x.png');
      background-size: 98px;

      @media (max-width: $small-breakpoint) {
        padding-top: 0;
        padding-bottom: 0;
        background-image: none;

        > img {
          display: none;
        }
      }
    }

    .divvy-recording {
      position: absolute;
      bottom: 0;
      left: $page-padding * 2;
      padding: 7px;
      padding-bottom: 0;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      background-color: $charcoal;
      box-shadow: 0 20px 60px rgba($charcoal, 0.33);

      @media (max-width: $vertical-breakpoint) {
        right: $page-padding;
        left: auto;
      }

      @media (max-width: $small-breakpoint) {
        position: relative;
        right: auto;
      }

      img {
        max-width: 240px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        @media (max-width: $vertical-breakpoint) {
          max-width: 210px;
        }

        @media (max-width: $small-breakpoint) {
          max-width: none;
        }
      }

      .notch {
        position: absolute;
        top: 7px;
        left: 25%;
        width: 50%;
        height: 4%;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 11px;
        background-color: $charcoal;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
          border: 0.5px solid $charcoal;
        }

        &::before {
          left: -1px;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }

        &::after {
          right: -1px;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.sharedesk-panel {

    figure {
      padding: 0;
      background-color: rgb(62, 42, 160);
    }

    @media (max-width: $large-breakpoint) {

      &:not(.content-panel-small) figure {
        padding-right: 0;
        padding-left: 0;
      }
    }

    @media (max-width: $vertical-breakpoint) {
      background-color: rgb(62, 42, 160);

      h1,
      p:not(.grey-text) {
        color: $white;

        a:not(:hover) {
          border-bottom-color: rgba($white, 0.33);
        }
      }
    }
  }

  &.threads-network-panel {
    background-color: rgb(242, 124, 97);
    background-image: url('/img/grunge-bg@2x.png');
    background-size: 400px;

    .night-mode & {
      background-color: rgb(200, 97, 73);
    }

    figure {

      img {
        max-width: 367px;
        margin: 95px auto;
      }
    }
  }

  &.ios86-panel {

    figure {
      background-image: url('/img/ios86-bg@2x.jpg');
      background-position: center;
      background-size: cover;
    }
  }

  &.sarif-panel {
    background-color: $grey-dark;
    background-image: url('/img/sarif-bg@2x.jpg');
    background-position: 75% 50%;
    background-size: cover;
  }

  &.axex-constructions-panel {
    background-color: $grey;
    background-image: url('/img/axex-bg@2x.jpg');
    background-position: center;
    background-size: cover;

    figure {

      img {
        max-width: 430px;
        margin: 125px auto;
      }
    }
  }
}
