.content-full {
  max-width: $content-width;
  margin-top: $page-padding;

  hr {
    margin: $page-padding * 2 0;
  }

  figure {
    margin-top: $page-padding;

    &:first-child {
      margin-top: 0;
    }

    img {
      border-radius: 2px;
      background-color: $grey-light;

      + img {
        margin-top: $page-padding / 2;
      }
    }

    &.half-tiles {

      img {
        display: inline-block;
        width: calc(50% - #{$page-padding / 4});

        &:nth-of-type(odd) {
          margin-right: $page-padding / 2;
        }
      }
    }
  }

  table {

    tr {
      border-bottom: 1px solid $grey-light;

      &:last-child {
        border-bottom: 0;
      }

      td {
        vertical-align: top;
        padding: $page-padding / 2;

        &:first-child {
          padding-left: 0;
          font-weight: 700;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
