.content-panels {
  box-sizing: border-box;
  width: calc(100vw - #{$header-width});
  max-width: $page-padding * 4 + $content-sidebar-width + $content-width;
  padding: $page-padding;
  margin-left: $header-width;
  font-size: 0;

  @media (min-width: $oversize-media) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $large-media) and (min-width: $medium-media) {
    padding-left: $page-padding / 2;
    padding-right: $page-padding / 2;
  }

  @media (max-width: $medium-media) {
    width: 100%;
    max-width: none;
    padding-top: 0;
    margin-left: 0;
  }

  @media (max-width: $small-media) {
      padding-left: $page-padding / 2;
      padding-right: $page-padding / 2;
    }

  @media (max-width: $mobile-media) {
    padding: 0;
  }

  // 404 text
  > p {

    @media (max-width: $mobile-media) {
      padding-left: $page-padding / 2;
      padding-right: $page-padding / 2;
    }
  }
}

.content-panel {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 65vw;
  margin-bottom: $page-padding;
  border: 1px solid var(--b);
  border-radius: var(--rad-l);
  background-color: var(--a);
  font-size: 0;

  @media (min-width: $mobile-media) and (prefers-color-scheme: light) {

    &:not(.banner)::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 2px;
      z-index: -1;
      width: calc(100% - 4px);
      height: 10px;
      border-radius: inherit;
      background-image: var(--dither-2);
    }

    &.no-border::after {
      bottom: -2px;
    }
  }

  @media (min-width: $large-media) {
    min-height: 800px;

    // If the first content panel is full size, fill the screen
    // &:first-of-type {
    //   min-height: calc(100vh - #{$page-padding} * 3);
    // }
  }

  @media (max-width: $large-media) and (min-width: $medium-media) {

    &:not(.content-panel-small) {

      .content-panel-header {
        width: $content-sidebar-width - $page-padding * 2;
        padding-right: $page-padding / 2;
      }

      figure {
        padding-right: $page-padding / 2;
        padding-left: $page-padding / 2;
      }
    }
  }

  @media (max-width: $large-media) {
    margin-bottom: $page-padding / 2;
  }

  @media (max-width: $small-media) {
    flex-direction: column;
    min-height: 0;
  }

  @media (max-width: $mobile-media) {
    margin-bottom: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;

    &.no-border + .content-panel,
    &.no-border + .content-pair .content-panel:first-child {
      border-top: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .content-panel-header,
  figure {
    box-sizing: border-box;
    padding: $page-padding;

    @media (max-width: $mobile-media) {
      padding-right: $page-padding / 2;
      padding-left: $page-padding / 2;
    }
  }

  .content-panel-header {
    z-index: 1;
    width: $content-sidebar-width;
    flex-shrink: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    @media (max-width: $small-media) {
      width: 100%;
      border-top-right-radius: inherit;
      border-bottom-left-radius: 0;
    }

    @media (max-width: $small-media) {
      border-radius: 0;
    }
  }

  figure {
    z-index: 2;
    width: 100%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    @media (max-width: $small-media) {
      border-top-right-radius: 0;
      border-bottom-left-radius: inherit;
    }

    @media (max-width: $small-media) {
      border-radius: 0;
    }

    &:empty {
      padding: 0;
    }
  }

  .image-gallery {

    @media (max-width: $mobile-media) {
      max-width: 100%;
      padding: 0;
    }

    img,
    video {
      display: block;
      max-width: 100%;
      background-color: var(--b);

      &:not(.iphone-frame) {
        border-radius: var(--rad-s);
      }

      @media (max-width: $mobile-media) {
        margin: 0;
        box-shadow: none;
      }

      + img {
        margin-top: $page-padding / 2;

        @media (max-width: $mobile-media) {
          margin-top: 0;
        }
      }
    }
  }

  h1 {
    margin-top: 0.5rem;
  }

  h1 > a {

    &[href^="#"] {
      border-bottom: 0;

      &::before {
        content: '';
        display: block;
        visibility: hidden;
        height: $page-padding * 3.25;
        margin-top: $page-padding * -3.25;
        pointer-events: none;
      }
    }
  }
}

.content-pair {
  display: flex;
  align-items: stretch;
  gap: $page-padding;
  margin-bottom: $page-padding;

  .content-panel {
    flex: 1;
    min-height: 0;
    margin: 0;

    .content-panel-header {
      width: 100%;
    }
  }

  @media (max-width: $large-media) {
    gap: $page-padding / 2;
    margin-bottom: $page-padding / 2;
  }

  @media (max-width: $small-media) {
    flex-direction: column;
  }

  @media (max-width: $mobile-media) {
    gap: 0;
    margin-bottom: 0;
  }
}
