header.page-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: $header-width;
  padding: $page-padding;
  padding-right: 0;
  text-shadow: var(--text-outline);

  @media (min-width: $oversize-media) {
    left: calc(50% - #{($page-padding * 4 + $content-sidebar-width + $content-width) / 2 + $header-width});
  }

  @media (max-width: $medium-media) {
    position: relative;
    width: 100vw;
    padding-right: $page-padding;
  }

  @media (max-width: $mobile-media) {
    padding: $page-padding / 2;
  }

  > div:first-of-type {
    flex-grow: 1;
  }

  .my-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.24em;
    column-gap: 1.5em;

    @media (max-width: $medium-media) {
      flex-direction: row;

      .rarr {
        display: none;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
    }
  }

  p,
  .my-links {
    margin-top: 2.5em;

    @media (max-width: $medium-media) {
      margin-top: 1.5em;
    }
  }

  .no-underline {
    border-bottom: 0;

    @media (max-width: $mobile-media) {
      padding-right: 20px;
    }
  }
}

.acknowledgement-of-country {

  @media (min-width: $mobile-media) {
    margin-bottom: 0;
  }

  a:not(.flag) {
    margin-right: 8px;
  }

  a.flag {
    position: relative;
    top: 0;
    display: inline-block;
    width: 18px;
    height: 12px;
    border-radius: 1px;
    background-color: #000000;

    @media (prefers-color-scheme: dark) {
      outline: 1px solid var(--b);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 6px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: #FFFF00;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      border-radius: 0 0 1px 1px;
      background-color: #CC0000;
    }
  }
}
