header.page-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  @include flex;
  @include prefix(flex-direction, column);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: $header-width;
  padding: $page-padding;
  padding-right: 0;
  color: $b;
  text-shadow: $text-outline-w;

  @media (min-width: $oversize-media) {
    left: calc(50% - #{($page-padding * 4 + $content-sidebar-width + $content-width) / 2 + $header-width});
  }

  @media (max-width: $medium-media) {
    position: relative;
    width: 100vw;
    padding-right: $page-padding;
  }

  @media (max-width: $mobile-media) {
    padding: $page-padding / 2;
  }

  @media (prefers-color-scheme: dark) {
    color: $w-dark;
    text-shadow: $text-outline-b;

    .grey-dark-text {
      color: $w-dark;
    }

    a {
      border-bottom-color: $g-dark;

      &:hover {
        border-bottom-color: $g;
      }

      &:focus {
        background-color: rgba($w, 0.2);
      }
    }
  }

  > div:first-of-type {
    @include prefix(flex-grow, 1);
  }

  .my-links {
    margin-bottom: 0;

    + .my-links {
      margin-top: 0.1em;

      @media (max-width: $mobile-media) {
        margin-top: 0.5em;
      }
    }

    > a {
      font-weight: 500;
      line-height: 1.66em;
    }
  }

  p {
    margin-top: 2.5em;

    @media (prefers-reduced-motion: no-preference) {
      @include prefix(animation, fade-in 1s ease-out 1);
    }

    @media (max-width: $medium-media) {
      margin-top: 1.5em;
    }
  }

  .no-underline {
    border-bottom: 0;

    @media (max-width: $mobile-media) {
      padding-right: 20px;
    }
  }
}

.acknowledgement-of-country {

  @media (min-width: $mobile-media) {
    margin-bottom: 0;
  }

  a {
    position: relative;
    top: 0;
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-left: 8px;
    border: 0;
    border-radius: 1px;
    background-color: #000000;
    font-size: 0;

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 8px rgba($white, 0.1);
      outline: 1px solid rgba($white, 0.16);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 6px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: #FFFF00;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      border-radius: 0 0 1px 1px;
      background-color: #CC0000;
    }
  }
}
