.tag {
  display: inline-block;
  box-sizing: border-box;
  min-height: 25px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1em;
  background-image: var(--dither-4);
  color: var(--c);
  text-shadow: var(--text-outline);
}
