[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 99;
  top: -2.5em;
  left: 50%;
  display: block;
  width: auto;
  padding: 5px 12px;
  border-radius: $radius * 2;
  background-color: $charcoal;
  opacity: 0;
  box-shadow: 0 0 20px rgba($black, 0.05);
  font-family: $font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2em;
  white-space: nowrap;
  color: $white;
  @include prefix(transform, perspective(300px) translateX(-50%) rotateX(-33deg));
  @include transition;
  transition-property: margin-top, margin-left, opacity, transform;
  pointer-events: none;
}

.button,
[class^="button-"],
[class*=" button-"] {

  &[data-tooltip]::after {
    top: -3em;
  }
}

.tooltip-align-left {

  &[data-tooltip]::after {
    left: 0;
    @include prefix(transform, perspective(300px) rotateX(-33deg));
  }

  &:hover[data-tooltip]::after {
    @include prefix(transform, perspective(300px));
  }
}

[data-tooltip] {
  position: relative;

  &:hover::after {
    margin-top: -5px;
    opacity: 1;
    @include prefix(transform, perspective(300px) translateX(-50%));
  }
}
