[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 99;
  top: -2.5em;
  left: 50%;
  display: block;
  width: auto;
  padding: 5px 12px;
  border-radius: var(--rad-m);
  background-color: var(--c);
  opacity: 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2em;
  white-space: nowrap;
  color: var(--a);
  @include prefix(transform, translateX(-50%));
  @include transition;
  transition-property: margin-top, opacity;
  pointer-events: none;
}

.button,
[class^="button-"],
[class*=" button-"] {

  &[data-tooltip]::after {
    top: -3em;
  }
}

.tooltip-align-left {

  &[data-tooltip]::after {
    left: 0;
    @include prefix(transform, none);
  }
}

[data-tooltip] {
  position: relative;

  &:hover::after {
    margin-top: -5px;
    opacity: 1;
  }
}
