.content-panel.banner.no-border
  p &#127759; 
    | There is no Planet B — consider 
    a(href="https://www.myfuturesuper.com.au") divesting from fossil&nbsp;fuels
    |  and 
    a(href="https://www.onepercentfortheplanet.org") giving 1% for the planet
    | .
