.content-panel.banner
  p &#127759; 
    | A climate crisis is happening. Consider 
    a(href="https://www.acf.org.au/climate") donating
    |  or 
    a(href="https://www.myfuturesuper.com.au") divesting from fossil&nbsp;fuels
    | .
