.content-panel.banner
  p &#127759; 
    | A climate crisis is happening. Consider 
    a(href="https://carbonpositiveaustralia.org.au/product-category/quick-offsets/") offsetting your impact
    |  and 
    a(href="https://www.myfuturesuper.com.au") divesting from fossil&nbsp;fuels
    | .
