.content-panel.banner
  p &#127759; 
    | A climate crisis is happening. Consider 
    a(href="https://www.acf.org.au/climate", target="_blank") donating
    |  or 
    a(href="https://www.myfuturesuper.com.au", target="_blank") divesting your super from fossil&nbsp;fuels
    | .
