header.page-header
  nav
    a.logo(href="/") clg
      include _logo

  div
  
    if frontPage
      p
        | Cody Lindsay Gordon is an Australian 
        strong product designer &amp; developer
        |  with a degree in Architectural design and an affinity for 
        span(data-tooltip="🤘") heavy metal
        | .
      p.grey-dark-text
        a(href="https://rexlabs.io") Rexlabs
        | , 
        a(href="https://attract.ai") Attract.ai
        | , previously 
        a(href="https://scrunch.com") Scrunch
      p.grey-dark-text
        a.tooltip-align-left(href="https://medium.com/@clg", data-tooltip="Posts about design/tech") Blog
        | &nbsp;&rarr;
        br
        a.tooltip-align-left(href="https://instagram.com/clg_aus", data-tooltip="Hobby photography") Photos
        | &nbsp;&rarr;
        br
        a(href="mailto:clg@clg.name") clg@clg.name
    else
      p &larr;
        br
        a(href="/") Back to home

  if frontPage
    .night-mode-toggle
      input(id="night-mode-switch", type="checkbox")
      label(for="night-mode-switch", onclick="toggleNightMode()") Toggle dark mode
      span.on &#127773;
      span.off &#127770;
