header.page-header
  nav
    a(href="/")
      include _logo

  div
  
    if frontPage
      p
        | Cody Lindsay Gordon is an Australian 
        strong designer
        |  and 
        strong UI developer
        |  with a degree in Architectural design and an affinity for heavy metal.
      p.grey-dark-text
        | Lead UI/UX at 
        a(href="//scrunch.com", target="_blank") Scrunch
      p.grey-dark-text Brisbane, Australia
      p.grey-dark-text
        a(href="//medium.com/@clg", target="_blank") Blog
        |  &rarr;
        br
        a(href="//twitter.com/clg_aus", target="_blank") Twitter
        |  &rarr;
        br
        a(href="//instagram.com/clg_aus", target="_blank") Instagram
        |  &rarr;
        //- br
        //- a(href="//au.linkedin.com/in/codylg", target="_blank") LinkedIn
        //- |  &rarr;
        br
        a(href="mailto:clg@clg.name") clg@clg.name
    else
      p &larr; 
        a(href="/") Go home
