header.page-header
  nav
    a(href="/")
      include _logo

  div
  
    if frontPage
      p
        | Cody Lindsay Gordon is an Australian designer and UI developer with a degree in Architectural design and an affinity for heavy metal.
      p.grey-dark-text
        | Lead UI/UX at 
        a(href="//scrunch.com", target="_blank") scrunch
      p.grey-dark-text Brisbane, Australia
      p.grey-dark-text
        a(href="mailto:clg@clg.name") clg@clg.name
        br
        a(href="//twitter.com/codylg_", target="_blank") Twitter
        |  &rarr;
        br
        a(href="//au.linkedin.com/in/codylg", target="_blank") LinkedIn
        |  &rarr;
    else
      p &larr; 
        a(href="/") Go home
