header.page-header
  nav
    a.logo(href="/") clg
      include _logo

  div
  
    if frontPage
      p
        | Cody Lindsay Gordon is an Australian 
        strong product designer &amp; developer
        |  with a degree in Architectural design and an affinity for 
        span(data-tooltip="🤘") heavy metal
        | .
      p.grey-dark-text
        a(href="https://rexlabs.io") Rexlabs
        | , 
        a(href="https://attract.ai") Attract.ai
        | , previously 
        a(href="https://scrunch.com") Scrunch
      p.grey-dark-text.my-links
        a.tooltip-align-left(href="https://medium.com/@clg", data-tooltip="Posts about design/tech") Blog
        span.rarr
      p.grey-dark-text.my-links
        a.tooltip-align-left(href="https://instagram.com/clg_aus", data-tooltip="Hobby photography") Photos
        span.rarr
      p.grey-dark-text.my-links
        a(href="mailto:clg@clg.name") clg@clg.name
    else
      p
        span.rarr.larr.noanim
        a(href="/") Back to home

  p.acknowledgement-of-country.grey-dark-text
    | I acknowledge the Traditional Custodians of the land on which I live and work, the Turrbal and Jagera people, and recognise that sovereignty was never ceded.
    a(href="http://paytherent.net.au") Pay the Rent

  .night-mode-toggle
    input(id="night-mode-switch", type="checkbox")
    label(id="night-mode-switch-label", for="night-mode-switch", tabindex="0", role="button", aria-pressed="false", onclick="toggleNightMode()", onKeyDown="toggleNightModeKeyboard(event)") Toggle dark mode
    span.on &#127773;
    span.off &#127770;
