header.page-header
  nav
    a.logo(href="/") clg
      include _logo

  if frontPage
    div
      p Australian product designer &amp; coder with over a decade of experience designing and shipping digital products and systems.
      p UX & Product Design Lead at 
        a(href="https://www.rexsoftware.com") Rex
        | .
        br
        | Based in London.
      .my-links
        p
          a(href="https://medium.com/@clg") Articles
          span.rarr
        p
          a(href="/photo") Photos
          span.rarr
        p
          a(href="https://linkedin.com/in/codylg") LinkedIn
          span.rarr
        p
          a(href="mailto:clg@clg.name") clg@clg.name
    p.acknowledgement-of-country
      span.translucent My home is on Yuggera country, and I acknowledge the Traditional Custodians of the land, the Turrbal and Jagera people.
      a(href="https://paytherent.net.au", tabindex="-1") Pay the Rent
  else if fullScreenPage
  else
    p
      span.rarr.larr.noanim
      a(href="/") Home
