header.page-header
  nav
    a.logo(href="/") clg
      include _logo

  if frontPage
    div
      p Australian product designer &amp; coder with over a decade of experience designing and shipping digital products and systems.
      p Product Design  at 
        a(href="https://cloudflare.com") Cloudflare
        | .
        br
        | Based in Meanjin / Brisbane.
      .my-links
        p
          a(href="https://medium.com/@clg") Articles
          span.rarr
        p
          a(href="/photo") Photos
          span.rarr
        p
          a(href="https://linkedin.com/in/codylg") LinkedIn
          span.rarr
        p
          a(href="mailto:clg@clg.name") clg@clg.name
    p.acknowledgement-of-country
      span.translucent My home is on Yuggera country, and I acknowledge the Traditional Custodians of the land, the Turrbal and Jagera people. 
      a.translucent(href="https://paytherent.net.au", tabindex="-1") Pay&nbsp;the&nbsp;Rent
      a.flag(href="https://paytherent.net.au", tabindex="-1")
  else if fullScreenPage
  else
    p
      span.rarr.larr.noanim
      a(href="/") Home
