header.page-header
  nav
    a.logo(href="/") clg
      include _logo

  if frontPage
    div
      p
        | Cody Lindsay Gordon is an Australian 
        strong product designer &amp; developer
        |  with a degree in Architectural design and an affinity for 
        span(data-tooltip="🤘") heavy metal
        | . Currently working as User Experience Lead for 
        a(href="https://www.rexsoftware.com") Rex
        | .
      p.grey-dark-text.my-links
        a.tooltip-align-left(href="https://medium.com/@clg", data-tooltip="Posts about design/tech") Blog
        span.rarr
      p.grey-dark-text.my-links
        a.tooltip-align-left(href="/photo", data-tooltip="Hobby photography") Photos
        span.rarr
      p.grey-dark-text.my-links
        a(href="mailto:clg@clg.name") clg@clg.name
    p.acknowledgement-of-country.grey-dark-text
      | I live and work on Yuggera country, and acknowledge the Traditional Custodians of the land, the Turrbal and Jagera people.
      a(href="http://paytherent.net.au") Pay the Rent
  else if fullScreenPage
  else
    p.grey-dark-text
      span.rarr.larr.noanim
      a(href="/") Back to home
