header.page-header
  nav
    a(href="/")
      include _logo

  div
  
    if frontPage
      p
        | Cody Lindsay Gordon is an Australian 
        strong UI/UX designer &amp; developer
        |  with a degree in Architectural design and an affinity for 
        span(data-tooltip="🤘") heavy metal
        | .
      p.grey-dark-text
        | Previously lead UI/UX at 
        a(href="https://scrunch.com", target="_blank") Scrunch
      p.grey-dark-text Brisbane, Australia
      p.grey-dark-text
        a.no-underline(href="/photo") &#128247;
        br
        a.tooltip-align-left(href="https://medium.com/@clg", target="_blank", data-tooltip="Posts about design/tech") Blog
        |  &rarr;
        br
        a.tooltip-align-left(href="https://instagram.com/clg_aus", target="_blank", data-tooltip="Hobby photography") Instagram
        |  &rarr;
        //- br
        //- a(href="https://twitter.com/clg_aus", target="_blank") Twitter
        //- |  &rarr;
        //- br
        //- a(href="https://au.linkedin.com/in/codylg", target="_blank") LinkedIn
        //- |  &rarr;
        br
        a(href="mailto:clg@clg.name") clg@clg.name
    else
      p &larr;
        br
        a(href="/") Back to home

  if frontPage
    .night-mode-toggle
      input(id="night-mode-switch", type="checkbox")
      label(for="night-mode-switch", onclick="toggleNightMode()")
      span.on &#127773;
      span.off &#127770;
