extends dede

block append variables
  - var slug = "dede/why"

block content

  .dede-why
    section
      header
        div
          p
            &larr; 
            a(href="../") Go back
          p
            a(href="/") Visit clg.name
            &nbsp;&rarr;
      h1 Q: Why did you do this?
      p A: I'll answer this later
