extends layout

block append variables
  - var title = "Double exposure"
  - var description = "This is a test"
  - var slug = "double-exposure"
  - var frontPage = false
  
block headExtra
  link(rel="stylesheet", href="/double-exposure/double-exposure.css", async)
  script(type="text/javascript", src="/double-exposure/double-exposure.js", async)

block header

block content

  #double-exposure
    #double-exposure-outer(onmousemove="addTransform(event)", onmouseout="clearTransform()")
      #double-exposure-wrapper
        img#base(src="base@2x.jpg")
        figure
          img#bokeh-1(src="bokeh-1@2x.jpg")
          img#bokeh-2(src="bokeh-2@2x.jpg")
          img#bokeh-3(src="bokeh-3@2x.jpg")
          img#bokeh-4(src="bokeh-4@2x.jpg")
          img#exposure(src="exposure@2x.jpg")
        //- #gloss
        //- #shadow
