extends layout

block content

  .content-panels
    include _banner
    include content/_divvy
    include content/_dede
    include content/_post-ux-breakdown
    include content/_post-blend-modes
    include content/_attract
    include content/_scrunch
    include content/_photo-browser
    include content/_ios86
    include content/_post-list-overflow
    include content/_post-svg-spinner
    include content/_sarif
    p.seeya 👋
