extends layout

block content

  .content-panels
    //- include content/_fancy-select
    //- include content/_animated-svg-loader
    //- include content/_arabic-restaurant-logo
    //- include content/_svg-waveforms-and-blend-modes
    //- include content/_ios-on-off-switch-in-css
    //- include content/_animated-svg-spinner
    include content/_divvy
    include content/_threads-network
    include content/_ios86
    include content/_sarif
    include content/_broadbeach-slsc
    include content/_axex-constructions
    include content/_tutorial-room
