extends layout

block content

  .content-panels
    include content/_dede
    //- include content/_scrunchdotcom
    include content/_scrunchapp
    include content/_divvy
    include content/_photo-collection-01
    include content/_threads-network
    include content/_post-svg-spinner
    include content/_post-dotted-border
    include content/_ios86
    include content/_sarif
    include content/_post-porting-fonts
    include content/_post-winterboard-icons
    include content/_broadbeach-slsc
    include content/_axex-constructions
    include content/_tutorial-room
