extends layout

block content

  .content-panels
    .content-pair
      include content/_post-cf-rules
      include content/_post-insights
    include content/_cloudflare
    include content/_divvy
    .content-pair
      include content/_post-global-search
      include content/_post-taxonomy
    include content/_miso-tracker
    include content/_rex
    include content/_attract
    include content/_scrunch
    .content-pair
      include content/_post-process-engine
      include content/_post-interview
    include content/_component-library
    .content-pair
      include content/_post-blend-modes
      include content/_post-list-overflow
    include content/_ios86
    include content/_sarif
    include _banner
