extends layout

block content

  .content-panels
    include content/_post-global-search
    include content/_post-insights
    include content/_component-library
    include content/_post-process-engine
    include content/_post-taxonomy
    include content/_rex
    include content/_attract
    include content/_scrunch
    include content/_post-interview
    include content/_post-blend-modes
    include content/_divvy
    include content/_ios86
    include content/_sarif
    include _banner
