extends layout

block append variables
  - var title = "iOS'86 iPhone theme"
  - var description = "iOS'86 is a retro Winterboard theme for iPhone"
  - var slug = "ios86"
  - var card = "ios86/ios86-01@2x.jpg"
  - var frontPage = false

block content

  article.content-panels
  
    include content/_ios86
    
    .content-full
    
      include content/_ios86-full
