extends layout

block append variables
  - var title = "Photography"
  - var description = "Some photos I have taken from around the world"
  - var slug = "photo"
  - var card = "photo/card-clg-photo.jpg"
  - var frontPage = false

block headExtra
  link(rel="stylesheet", href="photo.css", async)

block content

  a.photo-insta-link.white-text.underline-link(href="https://instagram.com/clg_aus") @clg_aus

  figure.photo-gallery
    .horz-scroll-indicator Scroll
    img(srcset="img/bromo.jpg 1x, img/bromo@2x.jpg 2x" alt="Mount Bromo")
    img(srcset="img/ijen-miner-01.jpg 1x, img/ijen-miner-01@2x.jpg 2x" alt="Ijen sulphur miner")
    img(srcset="img/franz-josef-glacier-01.jpg 1x, img/franz-josef-glacier-01@2x.jpg 2x" alt="Franz Josef glacier")
    img(srcset="img/bullhorn.jpg 1x, img/bullhorn@2x.jpg 2x" alt="Bullhorn band performing")
    img(srcset="img/new-zealand-road.jpg 1x, img/new-zealand-road@2x.jpg 2x" alt="New Zealand road")
    img(srcset="img/franz-josef-glacier-02.jpg 1x, img/franz-josef-glacier-02@2x.jpg 2x" alt="Franz Josef glacier")
    img(srcset="img/vietnamese-girl.jpg 1x, img/vietnamese-girl@2x.jpg 2x" alt="Vietnamese girl")
    img(srcset="img/ijen-miner-02.jpg 1x, img/ijen-miner-02@2x.jpg 2x" alt="Ijen sulphur miner")
    img(srcset="img/franz-josef-glacier-03.jpg 1x, img/franz-josef-glacier-03@2x.jpg 2x" alt="Franz Josef glacier")
    img(srcset="img/balinese-family.jpg 1x, img/balinese-family@2x.jpg 2x" alt="Balinese family")
    img(srcset="img/jeremy-neale.jpg 1x, img/jeremy-neale@2x.jpg 2x" alt="Jeremy Neale")
    img(srcset="img/kawah-ijen.jpg 1x, img/kawah-ijen@2x.jpg 2x" alt="Kawah Ijen")
    img(srcset="img/jakarta-abandoned-bank.jpg 1x, img/jakarta-abandoned-bank@2x.jpg 2x" alt="Abandoned bank in Jakarta")
    img(srcset="img/fox-glacier-01.jpg 1x, img/fox-glacier-01@2x.jpg 2x" alt="Fox glacier")
    img(srcset="img/ijen-miner-03.jpg 1x, img/ijen-miner-03@2x.jpg 2x" alt="Ijen sulphur miner")
    img(srcset="img/caldera.jpg 1x, img/caldera@2x.jpg 2x" alt="Caldera")
    img(srcset="img/jogja.jpg 1x, img/jogja@2x.jpg 2x" alt="Yogyakarta")
