extends layout

block append variables
  - var title = "Photography"
  - var description = "Some photos I have taken from around the world"
  - var slug = "photo"
  - var card = "photo/card-clg-photo.jpg"
  - var frontPage = false
  - var fullScreenPage = true

block headExtra
  link(rel="stylesheet", href="photo.css", async)

block content

  div.photo-gallery
    figure
      img(src="img/bromo.webp" alt="Mount Bromo")
      figcaption Caldera of Gunung Bromo, Indonesia
    figure
      img(src="img/ijen-miner-01.webp" alt="Ijen sulphur miner")
      figcaption Sulphur Miner, Ijen Volcano, Indonesia
    figure
      img(src="img/franz-josef-glacier-01.webp" alt="Franz Josef glacier")
      figcaption Franz Josef Glacier, New Zealand
    figure
      img(src="img/bullhorn.webp" alt="Bullhorn band performing")
      figcaption Bullhorn @ The Triffid, Australia
    figure
      img(src="img/new-zealand-road.webp" alt="New Zealand road")
      figcaption Otira, New Zealand
    figure
      img(src="img/franz-josef-glacier-02.webp" alt="Franz Josef glacier")
      figcaption Franz Josef Glacier, New Zealand
    figure
      img(src="img/vietnamese-girl.webp" alt="Vietnamese girl")
      figcaption Hung Trach, Vietnam
    figure
      img(src="img/ijen-miner-02.webp" alt="Ijen sulphur miner")
      figcaption Sulphur Miner, Ijen Volcano, Indonesia
    figure
      img(src="img/franz-josef-glacier-03.webp" alt="Franz Josef glacier")
      figcaption Franz Josef Glacier, Indonesia
    figure
      img(src="img/balinese-family.webp" alt="Balinese family")
      figcaption Bali, Indonesia
    figure
      img(src="img/jeremy-neale.webp" alt="Jeremy Neale")
      figcaption Jeremy Neale @ Lefty's, Australia
    figure
      img(src="img/kawah-ijen.webp" alt="Kawah Ijen")
      figcaption Kawah Ijen, Indonesia
    figure
      img(src="img/jakarta-abandoned-bank.webp" alt="Abandoned bank in Jakarta")
      figcaption Jakarta, Indonesia
    figure
      img(src="img/fox-glacier-01.webp" alt="Fox glacier")
      figcaption Fox Glacier, New Zealand
    figure
      img(src="img/ijen-miner-03.webp" alt="Ijen sulphur miner")
      figcaption Sulphur Miner, Ijen Volcano, Indonesia
    figure
      img(src="img/caldera.webp" alt="Caldera")
      figcaption Tengger Caldera, Indonesia
    figure
      img(src="img/jogja.webp" alt="Yogyakarta")
      figcaption Yogyakarta, Indonesia
  
  script(type="text/javascript", src="/photo/photo.js")
