extends layout

block append variables
  - var title = "Process Engine"
  - var description = "A design case study for the Process Engine project for Rex Project Management."
  - var slug = "process-engine"
  - var frontPage = false

block content

  article.content-panels

    .content-full

      include content/_process-engine-full
