extends layout

block append variables
  - var title = "Sarif iPhone theme"
  - var description = "Sarif is a customisable Winterboard theme for iPhone"
  - var slug = "sarif"
  - var card = "sarif/sarif-01@2x.jpg"
  - var frontPage = false

block content

  article.content-panels
  
    include content/_sarif
    
    .content-full
    
      include content/_sarif-full
