@media (max-width: $medium-breakpoint) {

  .content-full {
    max-width: none;
  }
}



@media (max-width: 800px) {

  .content-panel {
    @include prefix(flex-direction, column);
    min-height: 0;

    .content-panel-header {
      width: 100%;
    }

    figure {

      &:empty {
        padding: 0;
      }
    }
  }

  .threads-network-panel {

    figure {

      img {
        margin-top: 0;
        margin-bottom: $page-padding;
      }
    }
  }

  .ios86-panel {

    figure {
      min-height: 50vw;
    }
  }

  .sarif-panel {

    .content-panel-header {
      background-color: rgba($charcoal, 0.33);
    }
  }
}



@media (max-width: $small-breakpoint) {

  .content-full {
    margin-top: 0;

    h2,
    h3,
    p,
    ol,
    ul {
      margin-right: $page-padding / 2;
      margin-left: $page-padding / 2;
    }

    h2 {
      margin-top: $page-padding * 1.5;
    }

    p {

      .button {
        width: 100%;
        margin: 5px 0;
      }
    }

    hr {
      display: none;
    }

    figure {

      img {
        border-radius: 0;

        + img {
          margin-top: 0;
        }
      }

      &.half-tiles {

        img {
          display: block;
          width: 100%;

          &:nth-of-type(odd) {
            margin-right: 0;
          }
        }
      }
    }

    table {

      tr {

        td {
          display: block;

          &:first-child {
            padding-left: $page-padding / 2;
          }

          &:last-child {
            padding-right: $page-padding / 2;
          }
        }
      }
    }
  }

  .video-wrapper {

    iframe {
      border-radius: 0;
    }

    + img {
      margin-top: 0;
    }
  }
}
