@media (min-width: 1750px) {

  header.page-header {
    left: calc(50% - #{($pagePadding * 4 + $contentSidebarWidth + 700px) / 2 + $headerWidth})
  }

  .content-panels {
    margin-right: auto;
    margin-left: auto;
  }
}



@media (max-width: 1260px) and (min-width: 1024px) {

  header.page-header {
    width: $headerWidth - $pagePadding;
  }

  .content-panels {
    width: calc(100vw - #{$headerWidth - $pagePadding});
    padding-right: $pagePadding / 2;
    margin-left: $headerWidth - $pagePadding;
  }

  .content-panel {

    .content-panel-header {
      width: $contentSidebarWidth - $pagePadding * 2;
      padding-right: $pagePadding / 2;
    }

    figure {
      padding-right: $pagePadding / 2;
      padding-left: $pagePadding / 2;
    }
  }
}



@media (max-width: 1024px) {

  header.page-header {
    position: relative;
    width: 100vw;
    padding-right: $pagePadding;

    & > div {
      @include prefix(animation-delay, 0s);

      p {
        margin-top: 1.5em;
      }
    }
  }

  .content-panels {
    width: 100%;
    max-width: none;
    padding-top: 0;
    margin-left: 0;
    @include prefix(animation-delay, 0.33s);
  }

  .content-full {
    max-width: none;
  }
}



@media (max-width: 768px) {

  .content-panel {
    @include prefix(flex-direction, column);
    min-height: 0;

    .content-panel-header {
      width: 100%;
    }

    figure {

      &:empty {
        padding: 0;
      }
    }

    &.threads-network-panel {

      figure {

        img {
          margin-top: 0;
          margin-bottom: $pagePadding;
        }
      }
    }

    &.ios86-panel {

      figure {
        min-height: 50vw;
      }
    }

    &.sarif-panel {

      .content-panel-header {
        background-color: rgba($charcoal, 0.33);
      }
    }

    &.axex-constructions-panel {

      figure {

        img {
          margin-top: 0;
          margin-bottom: $pagePadding;
        }
      }
    }
  }
}



@media (max-width: 550px) {

  .column-list {
    @include prefix(columns, 2);
  }

  header.page-header {
    padding: $pagePadding / 2;
  }

  .content-panels {
    padding: 0;
  }

  .content-panel {
    margin-bottom: 0;
    border-radius: 0;
    @include prefix(box-shadow, none);

    .content-panel-header,
    figure {
      padding-right: $pagePadding / 2;
      padding-left: $pagePadding / 2;
    }

    figure.image-gallery {
      padding: 0;

      img {
        border-radius: 0;
        @include prefix(box-shadow, none);

        & + img {
          margin-top: 0;
        }
      }
    }

    h2 {
      margin-top: 0;
    }
  }

  .content-full {
    margin-top: 0;

    h2,
    h3,
    p,
    ol,
    ul {
      margin-left: $pagePadding / 2;
      margin-right: $pagePadding / 2;
    }

    h2 {
      margin-top: $pagePadding * 1.5;
    }

    p {

      .button {
        width: 100%;
        margin: 5px 0;
      }
    }

    hr {
      display: none;
    }

    figure {

      img {
        border-radius: 0;

        & + img {
          margin-top: 0;
        }
      }

      &.half-tiles {

        img {
          display: block;
          width: 100%;

          &:nth-of-type(odd) {
            margin-right: 0;
          }
        }
      }
    }

    table {

      tr {

        td {
          display: block;

          &:first-child {
            padding-left: $pagePadding / 2;
          }

          &:last-child {
            padding-right: $pagePadding / 2;
          }
        }
      }
    }
  }

  .video-wrapper {

    iframe {
      border-radius: 0;
    }

    & + img {
      margin-top: 0;
    }
  }
}
