@media (min-width: 1750px) {

  header.page-header {
    left: calc(50% - #{($page-padding * 4 + $content-sidebar-width + $content-width) / 2 + $header-width});
  }

  .content-panels {
    margin-right: auto;
    margin-left: auto;
  }
}



@media (max-width: 1260px) and (min-width: 1024px) {

  header.page-header {
    width: $header-width - $page-padding;
  }

  .content-panels {
    width: calc(100vw - #{$header-width - $page-padding});
    padding-right: $page-padding / 2;
    margin-left: $header-width - $page-padding;
  }

  .content-panel:not(.content-panel-small) {

    .content-panel-header {
      width: $content-sidebar-width - $page-padding * 2;
      padding-right: $page-padding / 2;
    }

    figure {
      padding-right: $page-padding / 2;
      padding-left: $page-padding / 2;
    }
  }
}



@media (max-width: 1024px) {

  header.page-header {
    position: relative;
    width: 100vw;
    padding-right: $page-padding;

    p {
      margin-top: 1.5em;
    }
  }

  .content-panels {
    width: 100%;
    max-width: none;
    padding-top: 0;
    margin-left: 0;
  }

  .content-full {
    max-width: none;
  }
}



@media (max-width: 800px) {

  .content-panel {
    @include prefix(flex-direction, column);
    min-height: 0;

    .content-panel-header {
      width: 100%;
    }

    figure {

      &:empty {
        padding: 0;
      }
    }
  }

  .dede-panel {

    .content-panel-header {
      background-color: rgba($white, 0.22);
    }
  }

  .threads-network-panel {

    figure {

      img {
        margin-top: 0;
        margin-bottom: $page-padding;
      }
    }
  }

  .ios86-panel {

    figure {
      min-height: 50vw;
    }
  }

  .sarif-panel {

    .content-panel-header {
      background-color: rgba($charcoal, 0.33);
    }
  }

  .axex-constructions-panel {

    figure {

      img {
        margin-top: 0;
        margin-bottom: $page-padding;
      }
    }
  }
}



@media (max-width: 550px) {

  .column-list {
    @include prefix(columns, 2);
  }

  header.page-header {
    padding: $page-padding / 2;
  }

  .content-panels {
    padding: 0;
  }

  .content-panel {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;

    .content-panel-header,
    figure {
      padding-right: $page-padding / 2;
      padding-left: $page-padding / 2;
    }

    .image-gallery,
    .image-gallery-small {
      padding: 0;

      img {
        display: block;
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;

        + img {
          margin-top: 0;
        }
      }
    }

    .image-gallery-small {
      columns: 1;
    }

    h2 {
      margin-top: 0;
    }
  }

  .dede-panel {
    background-position: 75% 0;
  }

  .scrunch-panel {

    img:not(.gallery-span) {
      display: none;
    }
  }

  .content-panel-small {
    width: 100%;
    min-height: 0;
    border-bottom: 1px solid $grey-light;

    .night-mode & {
      border-bottom-color: $grey-dark;
    }

    + .content-panel-small {
      margin-left: 0;
    }
  }

  .content-full {
    margin-top: 0;

    h2,
    h3,
    p,
    ol,
    ul {
      margin-right: $page-padding / 2;
      margin-left: $page-padding / 2;
    }

    h2 {
      margin-top: $page-padding * 1.5;
    }

    p {

      .button {
        width: 100%;
        margin: 5px 0;
      }
    }

    hr {
      display: none;
    }

    figure {

      img {
        border-radius: 0;

        + img {
          margin-top: 0;
        }
      }

      &.half-tiles {

        img {
          display: block;
          width: 100%;

          &:nth-of-type(odd) {
            margin-right: 0;
          }
        }
      }
    }

    table {

      tr {

        td {
          display: block;

          &:first-child {
            padding-left: $page-padding / 2;
          }

          &:last-child {
            padding-right: $page-padding / 2;
          }
        }
      }
    }
  }

  .video-wrapper {

    iframe {
      border-radius: 0;
    }

    + img {
      margin-top: 0;
    }
  }
}
