@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
:root {
  --a: #EFEDEA;
  --b: #A29D99;
  --c: #23211F;
  --dither-2: url('data:image/svg+xml;utf8,<svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/><rect x="1" y="1" width="1" height="1" fill="%23A29D99"/></svg>');
  --dither-4: url('data:image/svg+xml;utf8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/><rect x="2" y="2" width="1" height="1" fill="%23A29D99"/></svg>');
  --dither-6: url('data:image/svg+xml;utf8,<svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/><rect x="3" y="3" width="1" height="1" fill="%23A29D99"/></svg>');
  --grid-4: url('data:image/svg+xml;utf8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/></svg>');
  --grid-8: url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/></svg>');
  --grid-16: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23A29D99"/></svg>');
  --text-outline: 1px 1px 0 var(--a), -1px 1px 0 var(--a), 1px -1px 0 var(--a), -1px -1px 0 var(--a);
  --rad-s: 2px;
  --rad-m: 5px;
  --rad-l: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a: #23211F;
    --b: #635F5C;
    --c: #D0C8C2;
    --dither-2: url('data:image/svg+xml;utf8,<svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/><rect x="1" y="1" width="1" height="1" fill="%23635F5C"/></svg>');
    --dither-4: url('data:image/svg+xml;utf8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/><rect x="2" y="2" width="1" height="1" fill="%23635F5C"/></svg>');
    --dither-6: url('data:image/svg+xml;utf8,<svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/><rect x="3" y="3" width="1" height="1" fill="%23635F5C"/></svg>');
    --grid-4: url('data:image/svg+xml;utf8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/></svg>');
    --grid-8: url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/></svg>');
    --grid-16: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1" fill="%23635F5C"/></svg>');
  }
}

body {
  background-image: none;
  background-color: #000000;
}

body::before, body::after {
  display: none;
}

.mtg-counter {
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(env(safe-area-inset-top) - 8px);
  padding-right: calc(env(safe-area-inset-right) - 8px);
  padding-bottom: calc(env(safe-area-inset-bottom) - 8px);
  padding-left: calc(env(safe-area-inset-left) - 8px);
  margin: 4px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

@media (max-height: 400px) {
  .mtg-counter {
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    padding-top: calc(env(safe-area-inset-top) - 6px);
    padding-right: calc(env(safe-area-inset-right) - 6px);
    padding-bottom: calc(env(safe-area-inset-bottom) - 6px);
    padding-left: calc(env(safe-area-inset-left) - 6px);
    margin: 3px;
  }
}

.mtg-counter .counter-group {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 580px) {
  .mtg-counter .counter-group {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.mtg-counter .control-group {
  min-height: 48px;
  max-height: 48px;
}

.mtg-counter .control-group .card {
  background-color: #232128;
}

.mtg-counter .control-group button {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 0;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: #bec0cd;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.mtg-counter .control-group button:active {
  background-color: rgba(255, 255, 255, 0.08);
}

.mtg-counter .card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #26282e;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 3H4V4H3V3Z" fill="%23363840"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9 9H10V10H9V9Z" fill="%233C3E46"/></svg>');
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset, 0 -48px 32px rgba(0, 0, 0, 0.12) inset;
}

@media (max-width: 580px) {
  .mtg-counter .card {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
}

@media (max-height: 400px) {
  .mtg-counter .card {
    margin: 3px;
  }
}

.mtg-counter .counter {
  min-height: 96px;
}

.mtg-counter .counter h1 {
  position: absolute;
  top: 12px;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 13px;
  color: #646973;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

@media (max-height: 400px) {
  .mtg-counter .counter h1 {
    top: 10px;
  }
}

.mtg-counter .counter img.mana-symbol {
  position: absolute;
  top: 12px;
  width: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

@media (max-height: 400px) {
  .mtg-counter .counter img.mana-symbol {
    top: 10px;
    width: 14px;
  }
}

.mtg-counter .counter input {
  z-index: 10;
  width: 1ch;
  min-width: 1ch;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #f8f9fa;
  outline: 0;
  -moz-appearance: textfield;
  -webkit-touch-callout: none;
}

@media (max-height: 380px) {
  .mtg-counter .counter input {
    font-size: 36px;
  }
}

.mtg-counter .counter input.life {
  width: 2ch;
}

.mtg-counter .counter input::-webkit-outer-spin-button, .mtg-counter .counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mtg-counter .counter input.empty {
  opacity: 0.33;
}

.mtg-counter .counter input::-webkit-input-placeholder {
  font-size: 28px;
}

.mtg-counter .counter input::-moz-placeholder {
  font-size: 28px;
}

.mtg-counter .counter input:-ms-input-placeholder {
  font-size: 28px;
}

.mtg-counter .counter input::placeholder {
  font-size: 28px;
}

.mtg-counter .counter .increase, .mtg-counter .counter .decrease, .mtg-counter .counter .reset {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 0;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: #44464c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.mtg-counter .counter .increase {
  right: 0;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mtg-counter .counter .increase:active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
}

.mtg-counter .counter .decrease, .mtg-counter .counter .reset {
  left: 0;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mtg-counter .counter .decrease:active, .mtg-counter .counter .reset:active {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
}

.mtg-counter .counter#storm input {
  color: #FFC544;
}

.mtg-counter .counter#storm input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px #FFC544);
          filter: drop-shadow(0 0 12px #FFC544);
}

.mtg-counter .counter#colourless input {
  color: #CAC2C0;
}

.mtg-counter .counter#colourless input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px #CAC2C0);
          filter: drop-shadow(0 0 12px #CAC2C0);
}

.mtg-counter .counter#black input {
  color: #000000;
}

.mtg-counter .counter#black input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px white);
          filter: drop-shadow(0 0 12px white);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.32);
}

.mtg-counter .counter#black input.empty {
  opacity: 0.66;
}

.mtg-counter .counter#red input {
  color: #EEAD94;
}

.mtg-counter .counter#red input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px #EEAD94);
          filter: drop-shadow(0 0 12px #EEAD94);
}

.mtg-counter .counter#green input {
  color: #A7D1B1;
}

.mtg-counter .counter#green input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px #A7D1B1);
          filter: drop-shadow(0 0 12px #A7D1B1);
}

.mtg-counter .counter#foundry1 .decrease, .mtg-counter .counter#foundry2 .decrease, .mtg-counter .counter#foundry3 .decrease, .mtg-counter .counter#foundry4 .decrease {
  font-size: 14px;
}

.mtg-counter .counter#prowess input {
  color: #EEAD94;
  pointer-events: none;
}

.mtg-counter .counter#prowess input:not(.empty) {
  -webkit-filter: drop-shadow(0 0 12px #EEAD94);
          filter: drop-shadow(0 0 12px #EEAD94);
}

.mtg-counter #kiln-counts input {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}
