extends ../layout

block append variables
  - var frontPage = false

block content

  .content-panels

    p
      | The page you are looking for cannot be found. 
      a(href="/") Return home
      |  &rarr;
