$font: monospace;
$page-padding: 40px;
$header-width: 270px;
$content-width: 700px;
$content-sidebar-width: 360px;
$radius: 2px;



@import 'lib/normalize';

@import 'global/mixins';
@import 'global/colors';
@import 'global/document';
@import 'global/global';

@import 'components/button';
@import 'components/content-full';
@import 'components/content-panel';
@import 'components/content-panel-custom';
@import 'components/header';
@import 'components/logo';
@import 'components/tooltip';

@import 'responsive/responsive';
